<% if false %>
<div class="chat-widget-container">

<div style="margin: 10px; font-family: arial, verdana, helvetica; font-size: 13px; display: none;" id="unavailable-success">
  
<p style="margin-top: 0px; "><?php echo $unavailable_window->success_message; ?></p>

</div>

<div style="margin: 10px; font-family: arial, verdana, helvetica; font-size: 13px;" id="unavailable-form">
  
<p style="margin-top: 0px; "><?php echo $unavailable_window->intro_text; ?></p>

<input type="text" id="unavailable-text-box-1" placeholder="<?php echo $unavailable_window->text_box1; ?>"></p>

<?php if ($unavailable_window->text_box2_status == 'show'): ?>
  <input type="text" id="unavailable-text-box-2" placeholder="<?php echo $unavailable_window->text_box2; ?>"></p>
<?php endif; ?>

<?php
$departments = get_department_listing ( $org_id, $website_id );

if (($unavailable_window->department_status == 'show') && (count($departments) > 1)): 
?>
  <p>
    <select id="unavailable-department">
      <option value="0">Any Department</option>
  		<?php
  			for ($i = 0; $i < count($departments); $i++) {
          print "<option value=\"" . $departments[$i]["name"] . "\">";
          print $departments[$i]["name"] . "</option>\n";
        }
      ?>
    </select>
  </p>
<?php endif; ?>

<textarea rows="4" style="border: 1px solid #CCCCCC; width: 350px;" id="unavailable-message" placeholder="<?php echo $unavailable_window->message_text; ?>"></textarea></p>
	
<input type="submit" value="  <?php echo $unavailable_window->button_text; ?>  " style="" id="send-unavailable-email">

<div class="missing-fields">Please fill in all fields</div>

</div>

</div>

<% end %>

<div id="pc-chat-window" style="display: block;">
  <div class="chat-widget chat-widget-open">
    <div class="chat-widget-header" id="close-chat-widget">Welcome to Provide Chat
      <div style="float: right; margin-right: 10px;">
        <%= image_tag "widget/down-arrow.png" %>
      </div>
    </div>

    <div id="chat-widget-content">
      <div class="chat-widget-container">

        <div style="margin: 10px; font-family: arial, verdana, helvetica; font-size: 13px; display: none;" id="unavailable-success">
  
          <p style="margin-top: 0px; "><%= @offline_form.success_message %></p>

        </div>

        <div style="margin: 10px; font-family: arial, verdana, helvetica; font-size: 13px;" id="unavailable-form">
  
          <p style="margin-top: 0px; "><%= @offline_form.intro_text %></p>

          <input type="text" id="unavailable-text-box-1" placeholder="<%= "Text Box 1" %>"></p>

          <input type="text" id="unavailable-text-box-2" placeholder="<%= "Text Box 2" %>"></p>

          <p>
            <select id="unavailable-department">
              <option value="0">Any Department</option>
              <% Department.all.each do |department| %>
                <option value="<%= department.id %>"><%= department.name %></option>
              <% end %>
            </select>
          </p>

          <textarea rows="4" style="border: 1px solid #CCCCCC; width: 350px;" id="unavailable-message" placeholder="<%= "Message Text" %>"></textarea></p>
	
          <input type="submit" value="  <%= "Button Text" %>  " style="" id="send-unavailable-email">

          <div class="missing-fields">Please fill in all fields</div>

        </div>
      </div>
    </div>

    <div class="chat-widget-footer">
      <a href="http://www.providechat.com/" style="color: #EEEEEE;">Live Chat Software</a> powered by Provide Chat.
    </div>
  </div>
</div>