.widget-preview-container
  #pc-chat-window{:style => "display: block;"}
    .chat-widget.chat-widget-open
      .chat-widget-header{:style => "background-color: \##{@chat_widget.color};"}
        %span{id: "pc-title-message"}
          = @chat_widget.title_message
        %div{:id => "chat-header-images"}
          = image_tag "widget/down-arrow.png", id: "close-chat-widget"
          = image_tag "widget/close.png", id: "end-chat"

      #chat-widget-content
        .chat-widget-container
          #unavailable-success{:style => "margin: 10px; font-family: arial, verdana, helvetica; font-size: 13px; display: none;"}
            %p= @offline_form.success_message
          #unavailable-form{:style => "margin: 10px; font-family: arial, verdana, helvetica; font-size: 13px;"}
            %p= @offline_form.intro_text
            %p
              %input#unavailable-text-box-1{:placeholder => @offline_form.name_text, :type => "text"}/
            - if @offline_form.email_enabled
              %p
                %input#unavailable-text-box-2{:placeholder => @offline_form.email_text, :type => "text"}/
            - if @offline_form.department_enabled && @departments.count > 0
              %p
                %select#unavailable-department
                  %option{:value => "0"}= @offline_form.department_text
                  - @departments.each do |department|
                    %option{:value => department.id}= department.name
            %textarea#unavailable-message{:placeholder => @offline_form.message_text, :rows => "4", :style => "border: 1px solid #CCCCCC; width: 350px;"}
            %input#send-unavailable-email{:style => "", :type => "submit", :value => "  #{@offline_form.button_text}  "}/
            .missing-fields Please fill in all fields

      #chat-widget-footer
        %p{id: "powered-by"}
          %a{:href => "#"}
            Live Chat Software powered by Provide Chat