.col-md-12
  %h1.page-title.txt-color-blueDark{style: "float: left;"}
    Chat Widget
    &nbsp;/&nbsp;
    Offline Message for
  = form_tag(offline_forms_path, method: 'get', class: 'form-inline', 
      id: 'edit_offline_form', style: 'display: inline; padding-left: 8px;') do
    .form-group
      = select_tag "website_id", 
        options_from_collection_for_select(@websites, "id", "url", @offline_form.website_id), 
        id: "website_id", class: "form-control website-select"

= render partial: 'layouts/flash_messages', flash: flash

- if @offline_form
  .col-sm-12.col-md-12.col-lg-12
    #wid-id-0.jarviswidget.jarviswidget-color-darken
      %header
        %span.widget-icon
          %i.fa.fa-toggle-up
        %h2 Offline Message
      %div
        .widget-body.no-padding
          .alert.alert-info.no-margin.fade.in
            %div{:style => "float: left;"}
              %i.fa-fw.fa.fa-info
            %div{:style => "margin-left: 24px;"}
              This is the form your visitor completes so they can send you an email while you are offline.
          .form-container
            .col-sm-12.col-md-5.col-lg-6
              = render 'form'
            .col-sm-12.col-md-7.col-lg-6
              = render 'offline_widget'
- else
  .col-sm-12.col-md-8.col-lg-8
    .alert.alert-warning.alert-block
      %h4.alert-heading No websites configured yet!
      You have no yet added any websites, please #{link_to "add a website", new_website_path}
      to customize the offline chat form for that website.
        
:javascript
  function initialize_website_dropdown() {
    $('#website_id').on ('change', function() {
      $('#edit_offline_form').submit();
    });
  }

  $( document ).ready(function() {
    initialize_website_dropdown();
  });

  $(window).bind('page:change', function() {
    initialize_website_dropdown();
  });
