<div class="row">
	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
		<h1 class="page-title txt-color-blueDark">
      Chat Widget <i class="fa fa-angle-double-right"></i> Offline Message for
      <%= form_tag(chat_widgets_path, method: 'get', class: 'form-inline', id: 'edit_chat_widget', style: 'display: inline;') do %>
        <%= select_tag "website_id", options_from_collection_for_select(@websites, "id", "url", @offline_form.website_id), :class => "select2", :id => "website_id", :style => "max-width: 300px; margin-top: -5px;" %>
      <% end %>
    </h1>
	</div>
</div>

<div class="row">

  <% if @offline_form %>

    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0">
        <header>
          <span class="widget-icon"> <i class="fa fa-toggle-up"></i> </span>
          <h2>Offline Message</h2>
        </header>

				<div>
					<div class="widget-body no-padding">
            <div class="alert alert-info no-margin fade in">
              <div style="float: left;">
                <i class="fa-fw fa fa-info"></i>
              </div>
              <div style="margin-left: 24px;">
                This is the form that your visitor completes so they can send you an email while you are offline.
              </div>
            </div>
            <div class="form-container">
              <div class="col-sm-12 col-sm-8 col-lg-6">
                <%= render 'form' %>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6">
                <%= render 'offline_widget' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class="col-sm-12 col-md-8 col-lg-8">

      <div class="alert alert-warning alert-block">
        <h4 class="alert-heading">No websites configured yet!</h4>

        You have no yet added any websites, please <%= link_to "add a website", new_website_path %>
        to customize the offline chat form for that website.
      </div>

    </div>
  <% end %>

</div>

<script>
  $(function() {
    $('#website_id').on ('change', function() {
      $('#edit_offline_form').submit();
    });
  });
</script>