= form_for(@website, :html => {class: 'form-horizontal'}) do |f|
  = render "layouts/error_messages", :f => @website
  %fieldset
    .form-group
      %label.col-md-4.control-label= f.label :name
      .col-md-8
        = f.text_field :name, :class => "form-control"
    .form-group
      %label.col-md-4.control-label= f.label :url
      .col-md-8
        = f.text_field :url, :class => "form-control"
    .form-group
      %label.col-md-4.control-label= f.label :default_department
      .col-md-8
        = f.text_field :default_department, :class => "form-control"
    .form-group
      %label.col-md-4.control-label= f.label :status
      .col-md-8
        = f.select :status, { "Enabled" => "enabled", "Disabled" => "disabled"}, :class => "form-control"
    .form-group
      %label.col-md-4.control-label= f.label "Photo"
      .col-md-8
        = image_tag(@website.logo_url) if @website.logo?
        = f.file_field :logo, :class => "form-control"
        = f.hidden_field :logo_cache
    - if @website.logo?
      .form-group
        %label.col-md-4.control-label
        .col-md-8
          %label
            = f.check_box :remove_logo
            Remove logo

  .widget-footer
    = link_to "Back", websites_path, :class => "btn btn-default"
    = f.submit @website.new_record? ? "Add Website" : "Update Website", :class => "btn btn-primary"
