<%= form_for(@website, :html => {class: 'form-horizontal'}) do |f| %>
  <% if @website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% @website.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>

		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :name %></label>
			<div class="col-md-8">
        <%= f.text_field :name, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :url %></label>
			<div class="col-md-8">
        <%= f.text_field :url, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :default_department %></label>
			<div class="col-md-8">
        <%= f.text_field :default_department, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :logo %></label>
			<div class="col-md-8">
        <%= f.file_field :logo, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :status %></label>
			<div class="col-md-8">
        <%= f.select :status, { "Enabled" => "enabled", "Disabled" => "disabled"}, :class => "form-control" %>
			</div>
		</div>

	<footer>
    <%= f.submit "Submit", :class => "btn btn-primary" %>
    <%= link_to "Back", websites_path, :class => "btn btn-default" %>
	</footer>  
<% end %>
