= form_for(@website, :html => {class: 'form-horizontal'}) do |f|
  = render "layouts/error_messages", :f => @website
  %fieldset
    .form-group
      %label.col-md-4.control-label= f.label :name
      .col-md-8
        .input-group
          = f.text_field :name, :class => "form-control name-field"
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label= f.label :url
      .col-md-8
        .input-group
          = f.text_field :url, :class => "form-control url-field"
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label Main Email
      .col-md-8
        .input-group
          = f.text_field :email, :class => "form-control email-field"
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

  .widget-footer
    = link_to "Back", websites_path, :class => "btn btn-default"
    = f.submit @website.new_record? ? "Add Website" : "Update Website", :class => "btn btn-primary"


:javascript
  function initialize_qtip() {
    $('.name-field').qtip(
      default_style('This is the name of your website (e.g. Provide Chat)', '.name-field')
    );

    $('.url-field').qtip(
      default_style("This is your website's URL or website address (e.g. www.providechat.com)", '.url-field')
    );

    $('.email-field').qtip(
      default_style("This is the email that any offline messages will be redirected to if your visitor didn't select a Department, or you do not have any departments.", '.email-field')
    );

  }

  $( document ).ready(function() {
    initialize_qtip();
  });

  $(window).bind('page:change', function() {
    initialize_qtip();
  });