= form_for(@website, :html => {class: 'form-horizontal'}) do |f|
  = render "layouts/error_messages", :f => @website
  %fieldset
    .form-group
      %label.col-md-4.control-label= f.label :name
      .col-md-8
        .input-group
          = f.text_field :name, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is the name of your website (e.g. Provide Chat)
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label= f.label :url
      .col-md-8
        .input-group
          = f.text_field :url, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is your website's URL or website address (e.g. www.providechat.com)
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label Main Email
      .col-md-8
        .input-group
          = f.text_field :email, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is the email that any offline messages will be redirected to if your visitor didn't select a Department, or you do not have any departments.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label= f.label "Photo"
      .col-md-8
        = image_tag(@website.logo_url) if @website.logo?
        = f.file_field :logo, :class => "form-control file-form-control"
        = f.hidden_field :logo_cache
    - if @website.logo?
      .form-group
        %label.col-md-4.control-label
        .col-md-8
          %label
            = f.check_box :remove_logo
            Remove logo

  .widget-footer
    = link_to "Back", websites_path, :class => "btn btn-default"
    = f.submit @website.new_record? ? "Add Website" : "Update Website", :class => "btn btn-primary"
