<div class="jarviswidget" data-widget-editbutton="false" data-widget-fullscreenbutton="false">

  <header role="heading">
    <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
    <h2><%= visitor_name %> </h2>
    <div class="widget-toolbar">
      <a id="end-chat-<%= chat_id %>" class="btn btn-danger" data-chat-id="<%= chat_id %>">End Chat</a>
    </div>
  </header>

  <div role="content" style="padding: 6px 0px;">
    <div class="widget-body widget-hide-overflow">
      <div class="col-sm-6">
        <div id="chat-box-<%= chat_id %>" class="chat-box custom-scroll" data-chat-id="<%= chat_id %>">
          <ul id="chat-messages-<%= chat_id %>" data-chat-id="<%= chat_id %>">

          </ul>
        </div>

        <div class="chat-box-footer">
          <div class="textarea-div">
            <div class="typearea">
              <textarea placeholder="Write a reply..." id="chat-message-content-<%= chat_id %>" class="custom-scroll" data-chat-id="<%= chat_id %>"></textarea>
            </div>
          </div>

          <span class="textarea-controls">
            <button class="btn btn-sm btn-primary pull-right" id="send-message-<%= chat_id %>" data-chat-id="<%= chat_id %>">
              Send Message
            </button>
            <span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;">
              <div id="typing-notification-<%= chat_id %>" data-chat-id="<%= chat_id %>"></div>
            </span>
            <a href="javascript:void(0);" class="pull-left"></a>
          </span>

        </div>
      </div>
      <div class="col-sm-6">
        <div id="visitor-info-<%= visitor_id %>" class="visitor-info-container" align="left" data-visitor-id="<%= visitor_id %>">
          <%= image_tag "select2-spinner.gif" %>
        </div>
      </div>
    </div>
  </div>
</div>




