- provide(:title, 'Confirm your account')

.well.no-padding
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {class: 'smart-form client-form'}) do |f|
    %header
      %h1 Confirm your account
    %fieldset
      %section
        = render "layouts/flash_messages"
        = devise_error_messages!

      %section
        %label.input
          = f.password_field :password, required: true, class: "password-field"
 
      %section
        %label.input
          = f.password_field :password_confirmation, required: true

      = f.hidden_field :confirmation_token, value: @original_token

      %section
        = button_tag type: :submit, class: "btn btn-primary" do
          Set Password

   %footer 
      = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
