<h1>Listing prechat_surveys</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Website</th>
      <th>Enabled</th>
      <th>Intro text</th>
      <th>Name text</th>
      <th>Email text</th>
      <th>Email enabled</th>
      <th>Department text</th>
      <th>Department enabled</th>
      <th>Message text</th>
      <th>Button text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prechat_surveys.each do |prechat_survey| %>
      <tr>
        <td><%= prechat_survey.organization_id %></td>
        <td><%= prechat_survey.website_id %></td>
        <td><%= prechat_survey.enabled %></td>
        <td><%= prechat_survey.intro_text %></td>
        <td><%= prechat_survey.name_text %></td>
        <td><%= prechat_survey.email_text %></td>
        <td><%= prechat_survey.email_enabled %></td>
        <td><%= prechat_survey.department_text %></td>
        <td><%= prechat_survey.department_enabled %></td>
        <td><%= prechat_survey.message_text %></td>
        <td><%= prechat_survey.button_text %></td>
        <td><%= link_to 'Show', prechat_survey %></td>
        <td><%= link_to 'Edit', edit_prechat_survey_path(prechat_survey) %></td>
        <td><%= link_to 'Destroy', prechat_survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prechat survey', new_prechat_survey_path %>
