%tr
  %td #{department.name} (for #{department.website.name} website)
  %td= department.email
  %td
    = link_to edit_department_path(department), :class => "btn btn-default btn-sm" do
      %i.fa.fa-edit
      Edit
    &nbsp;
    - unless current_agent.access_level == 'agent'
      = link_to department, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do
        %i.fa.fa-trash-o
        Delete
