= form_for(@department, :html => {class: 'form-horizontal'}) do |f|
  - if @department.errors.any?
    #error_explanation
      %h2
        = pluralize(@department.errors.count, "error")
        prohibited this agent from being saved:
      %ul
        - @department.errors.full_messages.each do |message|
          %li= message
  %fieldset
    .form-group
      %label.col-md-4.control-label= f.label :name
      .col-md-8
        .input-group
          = f.text_field :name, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is the name of your department.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label Offline Email
      .col-md-8
        .input-group
          = f.text_field :email, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            When you are offline, visitors can still send you a message through email. If they select this department, it gets sent to this email address.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

    .form-group
      %label.col-md-4.control-label Websites
      .col-md-8
        = f.select :website_ids, @websites.collect {|x| [x.name, x.id]}, {}, {:multiple => true, :style => "width:100%", :class  => "select2" }
  .widget-footer
    = link_to "Cancel", departments_path, :class => "btn btn-default"
    = f.submit @department.new_record? ? "Add Department" : "Update Department", :class => "btn btn-primary"

:javascript
  $( document ).ready(function() {

    function default_style(content, field) {
      var style = {
        content: content,
        show: {
          event: 'click'
        },
        hide: {
          event: 'unfocus'
        },
        position: {
          my: 'bottom right',  // Position my top left...
          at: 'top right', // at the bottom right of...
          adjust: { x: 20 },
          target: $(field) // my target
        }
      };

      return style;
    };

    $('.name-field').qtip(
      default_style('This is your full name, it will not be displayed to visitors (e.g. Adams Jones)', '.name-field')
    );

    $('.display-name-field').qtip(
      default_style('When chatting with a visitor, this is the name visitors will know you as (e.g. Adam)', '.display-name-field')
    );

    $('.email-field').qtip(
      default_style('This is your email address (e.g. adam@providechat.com). You will use this email address to log into your account.', '.email-field')
    );

    $('.password-field').qtip(
      default_style('This is the password you will use to log in.', '.password-field')
    );

    $('.access-field').qtip(
      default_style('<strong>Agents</strong> can chat with visitors, view the chat monitor, and view previous chat transcripts.<br><br><strong>Admins</strong> have all the same permissions as agents, along with access to administer account settings.', '.access-field')
    );

    $('.photo-field').qtip({
      content: 'We recommend uploading a photo of your face here. This will be displayed in the chat widget when visitors chat with you.',
      hide: {
        event: 'unfocus'
      },
      position: {
        my: 'bottom right',  // Position my top left...
        at: 'top right', // at the bottom right of...
        adjust: { x: 20 },
        target: $('.photo-field') // my target
      }
    });

    $('.websites-field').qtip(
      default_style('You will be able to chat with visitors on these websites', '.websites-field')
    );
  });