= form_for(@department, :html => {class: 'form-horizontal'}) do |f|
  - if @department.errors.any?
    #error_explanation
      %h2
        = pluralize(@department.errors.count, "error")
        prohibited this agent from being saved:
      %ul
        - @department.errors.full_messages.each do |message|
          %li= message
  %fieldset
    .form-group
      %label.col-md-4.control-label= f.label :name
      .col-md-8
        .input-group
          = f.text_field :name, :class => "form-control name-field"
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label Offline Email
      .col-md-8
        .input-group
          = f.text_field :email, :class => "form-control email-field"
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

    .form-group
      %label.col-md-4.control-label Websites
      .col-md-8
        = f.select :website_ids, @websites.collect {|x| [x.name, x.id]}, {}, {:multiple => true, :style => "width:100%", :class  => "select2" }
        .help-text{style: "font-size: 10px;"}
          This department will be available on these websites

  .widget-footer
    = link_to "Cancel", departments_path, :class => "btn btn-default"
    = f.submit @department.new_record? ? "Add Department" : "Update Department", :class => "btn btn-primary"

:javascript
  $( document ).ready(function() {

    $('.name-field').qtip(
      default_style('This is the name of the department', '.name-field')
    );

    $('.email-field').qtip(
      default_style('When all agents are offline, visitors can still send you a message through email. If they select this department, it gets sent to this email address.', '.email-field')
    );

    $('.websites-field').qtip(
      default_style('You will be able to chat with visitors on these websites', '.websites-field')
    );
  });