= form_for(@department, :html => {class: 'form-horizontal'}) do |f|
  - if @department.errors.any?
    #error_explanation
      %h2
        = pluralize(@department.errors.count, "error")
        prohibited this agent from being saved:
      %ul
        - @department.errors.full_messages.each do |message|
          %li= message
  %fieldset
    .form-group
      %label.col-md-4.control-label= f.label :name
      .col-md-8
        .input-group
          = f.text_field :name, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is the name of your department.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label Offline Email
      .col-md-8
        .input-group
          = f.text_field :email, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            When you are offline, visitors can still send you a message through email. If they select this department, it gets sent to this email address.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

    .form-group
      %label.col-md-4.control-label Websites
      .col-md-8
        = f.select :website_ids, @websites.collect {|x| [x.name, x.id]}, {}, {:multiple => true, :style => "width:100%", :class  => "select2" }
  .widget-footer
    = link_to "Cancel", departments_path, :class => "btn btn-default"
    = f.submit @department.new_record? ? "Add Department" : "Update Department", :class => "btn btn-primary"
