= render 'layouts/page_header', :title => 'Departments', :icon => 'fa-sitemap'

= render partial: 'layouts/flash_messages', flash: flash

.row
  %article.col-sm-12.col-md-12.col-lg-8
    #website-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
      %header{:role => "heading"}
        %span.widget-icon
          %i.fa.fa-sitemap
        %h2
          %strong Departments
        .widget-toolbar{:role => "menu"}
          = link_to "New Department", new_department_path, { title: "Add Department", class: "btn btn-primary" }
        %span.jarviswidget-loader
          %i.fa.fa-refresh.fa-spin

      %div{:role => "content"}

        .widget-body.no-padding
          .alert.alert-info.no-margin.fade.in
            %div{style: "float: left;"}
              %i.fa-fw.fa.fa-info
            %div{style: "margin-left: 24px;"}
              Here you can create and edit your departments. Visitors can select a department they would like to chat with. Also, your agents can be configured to only accept chats from certain departments.
          %table.table.table-bordered
            %thead
              %tr
                %th Name
                %th Email
                %th
            %tbody
              - @departments.each do |department|
                %tr
                  %td= department.name
                  %td= department.email
                  %td
                    - unless current_agent.access_level == 'agent'
                      = link_to department, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do
                        %i.fa.fa-trash-o
                        Delete
                    = link_to edit_department_path(department), :class => "btn btn-default btn-sm" do
                      %i.fa.fa-edit
                      Edit

              - if @departments.count == 0
                %tr
                  %td{:colspan => "3"} No departments

