<div id="content">
  <%= render 'layouts/page_header', :title => 'Departments', :icon => 'fa-sitemap' %>
  
  <div class="row">

	  <article class="col-sm-12 col-md-12 col-lg-6">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @departments.each do |department| %>
            <tr>
              <td><%= department.name %></td>
              <td><%= department.email %></td>
              <td><%= department.status %></td>
              <td><%= link_to 'Edit', edit_department_path(department), :class => "btn btn-default" %></td>
              <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
            </tr>
          <% end %>
          <% if @departments.count == 0 %>
            <tr>
              <td colspan="5">No departments</td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Department', new_department_path, :class => "btn btn-primary" %>
    </article>
  </div>
</div>