= render 'layouts/page_header', :title => 'Dashboard'

.col-xs-12.col-sm-6.col-md-6
  #website-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
    %header{:role => "heading"}
      %span.widget-icon
        %i.fa.fa-cloud
      %h2
        %strong Your Websites
      .widget-toolbar{:role => "menu"}
        = link_to "Manage Websites", websites_path, { title: "Website Setup", class: "btn btn-primary" }
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    %div{:role => "content"}
      .widget-body.no-padding
        = render :partial => 'websites_listing', :locals => { websites: @websites}
        .widget-footer
          .pull-right

.col-xs-12.col-sm-6.col-md-6
  #agents-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
    %header{:role => "heading"}
      %span.widget-icon
        %i.fa.fa-user
      %h2
        %strong Your Agents
      .widget-toolbar{:role => "menu"}
        = link_to "Manage Agents", agents_path, { title: "Manage Agents", class: "btn btn-primary" }
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    %div{:role => "content"}
      .widget-body.no-padding
        = render :partial => 'agents_availability', :locals => { agents: @agents}
        .widget-footer
          .pull-right
            - if current_agent.organization.account_type == 'trial' || current_agent.organization.account_type == 'free'
              You are currently using your maximum available agents.
            - elsif current_agent.organization.account_type == 'paid'
              You are currently using #{current_agent.organization.agents.count} of 
              #{current_agent.organization.subscription.quantity} available agents.

.clearfix

.col-xs-12.col-sm-6.col-md-6
  #blog-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
    %header{:role => "heading"}
      %span.widget-icon
        %i.fa.fa-rss
      %h2
        %strong Latest Blog Entries
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    %div{:role => "content"}
      .widget-body.no-padding
        %table.table.table-bordered
          - @blog_feed.entries.first(5).each do |entry|
            %tr
              %td
                = link_to entry.title, entry.url, :target => "blank"
                \-
                %i
                  = entry.published.strftime("%B %e, %Y")
          - if @blog_feed.entries.count == 0
            %tr
              %td No blog entries found

.col-xs-12.col-sm-6.col-md-6
  #account-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
    %header{:role => "heading"}
      %span.widget-icon
        %i.fa.fa-gears
      %h2
        %strong Your Account
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    %div{:role => "content"}
      .widget-body
        - if current_agent.organization.account_type == 'trial'
          %h4 You currently have #{current_agent.organization.remaining_trial_days} days left in your trial period.
          
          = link_to "Subscribe", new_subscription_path, class: "btn btn-primary btn-large"
          
        - elsif current_agent.organization.account_type == 'paid'
          %h4 You are a paid customer
        - elsif current_agent.organization.account_type == 'free'
          %h4 You are using a free account