= render 'layouts/page_header', :title => 'Dashboard'

.col-xs-12.col-sm-6.col-md-6
  #website-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
    %header{:role => "heading"}
      %span.widget-icon
        %i.fa.fa-cloud
      %h2
        %strong Your Websites
      .widget-toolbar{:role => "menu"}
        = link_to "Manage Websites", websites_path, { title: "Website Setup", class: "btn btn-primary" }
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    %div{:role => "content"}
      .widget-body.no-padding
        = render :partial => 'websites_listing', :locals => { websites: @websites}

.col-xs-12.col-sm-6.col-md-6
  #agents-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
    %header{:role => "heading"}
      %span.widget-icon
        %i.fa.fa-user
      %h2
        %strong Your Agents
      .widget-toolbar{:role => "menu"}
        = link_to "Manage Agents", agents_path, { title: "Manage Agents", class: "btn btn-primary" }
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    %div{:role => "content"}
      .widget-body.no-padding
        = render :partial => 'agents_availability', :locals => { agents: @agents}
        .widget-footer
          .pull-right
            - if current_agent.organization.account_type == 'trial' || current_agent.organization.account_type == 'free'
              You are currently using your maximum available agents.
            - elsif current_agent.organization.account_type == 'paid'
              You are currently using #{current_agent.organization.agents.count} of 
              #{current_agent.organization.subscription.quantity} available agents.
            - elsif current_agent.organization.account_type == 'master'
              You have unlimited agents

.clearfix

.col-xs-12.col-sm-6.col-md-6
  #blog-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
    %header{:role => "heading"}
      %span.widget-icon
        %i.fa.fa-rss
      %h2
        %strong Latest Blog Entries
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    %div{:role => "content"}
      .widget-body.no-padding
        %table.table.table-bordered
          - @blog_feed.entries.first(5).each do |entry|
            %tr
              %td
                = link_to entry.title, entry.url, :target => "blank"
                -
                %i
                  = entry.published.strftime("%B %e, %Y")
          - if @blog_feed.entries.count == 0
            %tr
              %td No blog entries found

.col-xs-12.col-sm-6.col-md-6
  #account-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
    %header{:role => "heading"}
      %span.widget-icon
        %i.fa.fa-gears
      %h2
        %strong Your Account
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    %div{:role => "content"}
      .widget-body
        .row
          - if current_agent.organization.account_type == 'trial'
            .col-xs-2
              = image_tag 'icons/subscribe.png', class: "dashboard-icon"
            .col-xs-10
              .alert.alert-info
                %h4 You currently have #{current_agent.organization.remaining_trial_days} days left in your trial period.
                %br
                %p
                  Click the button below to start your paid subscription, otherwise your 
                  account will downgrade to the free version once the trial period expires.
 
          - elsif current_agent.organization.account_type == 'paid'
            .col-xs-2
              = image_tag 'icons/subscribed.png', class: "dashboard-icon"
            .col-xs-10
              .alert.alert-info
                %h4 You have an active subscription of #{current_agent.organization.subscription.quantity} agents.
                %br
                %p
                  You are charged $#{current_agent.organization.subscription.cost_description}. 
                  Your next payment is scheduled for 
                  #{current_agent.organization.subscription.next_payment}.

          - elsif current_agent.organization.account_type == 'free'
            .col-xs-2
              = image_tag 'icons/subscribe.png', class: "dashboard-icon"
            .col-xs-10
              %h4 You have a free account, which is limited to a single concurrent chat. 
              %br
              %p
                To unlock multiple chats or to add multiple agents, start your 
                subscription today.

          - elsif current_agent.organization.account_type == 'master'
            .col-xs-2
              = image_tag 'icons/subscribed.png', class: "dashboard-icon"
            .col-xs-10
              .alert.alert-info
                %h4 You have a master account with unlimited agents.
                %br

        .widget-footer
          .pull-right
            - if current_agent.organization.account_type == 'trial' || current_agent.organization.account_type == 'free'
              = link_to "Start your subscription", new_subscription_path, class: "btn btn-success btn-large"
            - elsif current_agent.organization.account_type == 'paid'
              = link_to "Modify Your Subscription", edit_subscription_path(current_agent.organization.subscription), class: "btn btn-success btn-large"
          .clearfix
