= render 'layouts/page_header', :title => 'Dashboard'
.row
  .col-xs-12.col-sm-6.col-md-6
    #website-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
      %header{:role => "heading"}
        %span.widget-icon
          %i.fa.fa-cloud
        %h2
          %strong Your Websites
        .widget-toolbar{:role => "menu"}
          = link_to "Manage Websites", websites_path, { title: "Website Setup", class: "btn btn-primary" }
        %span.jarviswidget-loader
          %i.fa.fa-refresh.fa-spin
      %div{:role => "content"}
        .widget-body.no-padding
          %table.table.table-bordered
            %thead
              %tr
                %th Name
                %th
                  URL
                %th
                  Widget Installed?
            %tbody
              - @websites.each do |website|
                %tr
                  %td= website.name
                  %td= website.url
                  %td
                    Checking  #{image_tag "select2-spinner.gif"}
              - if @websites.count == 0
                %tr
                  %td{:colspan => "3"}
                    You haven't added any websites yet. #{link_to "Add Website", new_website_path, { title: "Add Website", class: "btn btn-primary" }}
          .widget-footer
            .pull-right

  .col-xs-12.col-sm-6.col-md-6
    #agents-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
      %header{:role => "heading"}
        %span.widget-icon
          %i.fa.fa-user
        %h2
          %strong Your Agents
        .widget-toolbar{:role => "menu"}
          = link_to "Manage Agents", agents_path, { title: "Manage Agents", class: "btn btn-primary" }
        %span.jarviswidget-loader
          %i.fa.fa-refresh.fa-spin
      %div{:role => "content"}
        .widget-body.no-padding
          %table.table.table-bordered
            %thead
              %tr
                %th Name
                %th
                  Current Availability
            %tbody
              - @agents.each do |agent|
                %tr
                  %td
                    %a{:href => "#", :onclick => "#', 'content');"}= agent.name
                  %td
                    - if agent.availability == 'online'
                      %span{:style => "color: #228b22;"}
                        %strong Online
                    - else
                      %span{:style => "color: #b22222;"}
                        %strong Offline
          .widget-footer
            .pull-right
              You are currently using #{@agents.count} of #{current_agent.organization.max_agents} available agents

.row
  .col-xs-12.col-sm-6.col-md-6
    #blog-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
      %header{:role => "heading"}
        %span.widget-icon
          %i.fa.fa-rss
        %h2
          %strong Latest Blog Entries
        %span.jarviswidget-loader
          %i.fa.fa-refresh.fa-spin
      %div{:role => "content"}
        .widget-body.no-padding
          %table.table.table-bordered
            - @blog_feed.entries.first(5).each do |entry|
              %tr
                %td= link_to entry.title, entry.url, :target => "blank"
                %td= entry.published.to_formatted_s(:long_ordinal)
            - if @blog_feed.entries.count == 0
              %tr
                %td No blog entries found

  .col-xs-12.col-sm-6.col-md-6
    #account-widget.jarviswidget.jarviswidget-color-darken{:role => "widget"}
      %header{:role => "heading"}
        %span.widget-icon
          %i.fa.fa-gears
        %h2
          %strong Your Account
        %span.jarviswidget-loader
          %i.fa.fa-refresh.fa-spin
      %div{:role => "content"}
        .widget-body
          - if current_agent.organization.account_type == 'trial'
            %h4 You are in your trial period
          - elsif current_agent.organization.account_type == 'paid'
            %h4 You are a paid customer
          - elsif current_agent.organization.account_type == 'free'
            %h4 You are using a free account