<div class="chat-widget-container">

<div style="margin: 10px; font-family: arial, verdana, helvetica; font-size: 13px; display: none;" id="unavailable-success">

<p style="margin-top: 0px; "><%= offline_form.success_message %></p>

</div>

<div style="margin: 10px; font-family: arial, verdana, helvetica; font-size: 13px;" id="unavailable-form">

<p style="margin-top: 0px; "><%= offline_form.intro_text %></p>

<input type="text" id="offline-name" placeholder="<%= offline_form.name_text %>"></p>

<% if offline_form.email_enabled %>
  <input type="text" id="offline-email" placeholder="<%= offline_form.email_text %>"></p>
<% end %>

<%
departments = Website.find(website_id).departments

if offline_form.department_enabled && departments && departments.count > 0
%>
  <p>
    <select id="offline-department">
      <option value="Any Department">Any Department</option>
      <% departments.each do |department| %>
        <option value="<%= department.name %>"><%= department.name %></option>
      <% end %>
    </select>
  </p>
<% else %>
  <input type="hidden" id="pre-chat-department" value="Any Department">
<% end %>

<textarea rows="4" style="border: 1px solid #CCCCCC; width: 350px;" id="offline-message" placeholder="<%= offline_form.message_text %>"></textarea></p>

<input type="submit" value="  <%= offline_form.button_text %>  " style="" id="send-offline-email">

<div class="missing-fields">Please fill in all fields</div>

</div>

</div>
