<div class="chat-widget-container">

<div style="margin: 10px; font-family: arial, verdana, helvetica; font-size: 13px;">

<p><%= pre_chat_form.intro_text %></p>

<input type="text" id="pre-chat-name" placeholder="<%= pre_chat_form.name_text %>"></p>

<% if pre_chat_form.email_enabled %>
  <input type="text" id="pre-chat-email" placeholder="<%= pre_chat_form.email_text %>"></p>
<% end %>

<%
departments = Department.where(:organization_id => org_id)

if pre_chat_form.department_enabled && departments && departments.count > 0
%>

  <p>
    <select id="pre-chat-department">
      <option value="0">Any Department</option>
      <% departments.each do |department| %>
        <option value="<%= department.name %>"><%= department.name %></option>
      <% end %>
    </select>
  </p>
<% end %>

<textarea rows="4" id="pre-chat-message" placeholder="<%= pre_chat_form.message_text %>"></textarea></p>

<input type="submit" value="  <%= pre_chat_form.button_text %>  " style="color: #333333; font-family: arial, verdana, helvetica; font-size: 12px; height: 40px;" id="start-chat-btn">

<div class="missing-fields">Please fill in all fields</div>

</div>

</div>

