<div class="chat-widget-container">
  <div class="agent-area">
    <div class="agent-image-container">
      <% if agent.avatar? %>
        <%= image_tag "#{agent.avatar_url}", :id => "agent-image", :class => "agent-image", :height => 60, :width => 60 %>
      <% else %>
        <img src="https://widget.providechat.com/images/silhouette.png" height="60" width="60" class="agent-image">
      <% end %>
    </div>
    <div class="agent-detail-container">
      <div id="agent-name"><%= agent.display_name %></div>
      <div id="agent-title"><%= agent.title %></div>
    </div>
    <% if chat_widget.logo? && chat_widget.display_logo? %>
      <div id="logo-image-container">
        <img src="https://widget.providechat.com/images/silhouette.png">
      </div>
    <% end %>
  </div>
  <div class="invitation-message-area">
    <div class="invitation-message-container">
      <h3><%= invitation.invitation_message %></h3>
      <br>
      <div class="invitation-form-area">
        <div class="pc-error-message" id="missing-fields">Please fill in the field to start the chat</div>
        <div class="pc-error-message" id="long-name">Please enter a name less than 30 characters</div>
        <input type="text" id="invite-chat-text-box" placeholder="<%= invitation.name_text %>" maxlength="30">
        <input type="button" id="accept-chat-invite-btn" style="" value="<%= invitation.button_text %>">
      </div>
    </div>
  </div>
</div>