<div class="chat-widget-container">

  <div class="pre-chat-container">
    <p id="pc-intro-text"><%= pre_chat_form.intro_text %></p>

    <div class="pc-error-message" id="missing-fields">Please fill in required fields</div>
    <div class="pc-error-message" id="invalid-email">Please enter a valid email</div>

    <p><input type="text" id="pre-chat-name" placeholder="<%= pre_chat_form.name_text %>"></p>

    <% if pre_chat_form.email_enabled %>
      <p><input type="text" id="pre-chat-email" placeholder="<%= pre_chat_form.email_text %>"></p>
    <% end %>

    <%
    departments = Website.find(website_id).departments

    if pre_chat_form.department_enabled && departments && departments.count > 0
    %>
      <p>
        <select id="pre-chat-department">
          <option value="Any Department">Any Department</option>
          <% departments.each do |department| %>
            <option value="<%= department.name %>"><%= department.name %></option>
          <% end %>
        </select>
      </p>
    <% else %>
      <input type="hidden" id="pre-chat-department" value="Any Department">
    <% end %>

    <textarea id="pre-chat-message" placeholder="<%= pre_chat_form.message_text %>"></textarea>

    <input type="submit" id="start-chat-btn" value="  <%= pre_chat_form.button_text %>  ">
  </div>
</div>

