%tr
  %td= link_to "Chat #{chat.id}", chat
  %td= chat.agent ? chat.agent.name : 'None'
  %td= chat.website.url
  %td= chat.visitor ? chat.visitor.name : 'Not specified'
  %td= chat.chat_accepted ? local_time(chat.chat_accepted, '%B %e, %Y %l:%M%P') : "Not accepted"
  %td= chat.department ? chat.department.name : 'Any Department'
