%tr
  %td= link_to chat.ticket_id, chat, data: { toggle: "modal", target: "#ajax-modal" }, remote: true
  %td= chat.agent ? chat.agent.name : 'None'
  %td= chat.website.url
  %td= chat.visitor_name.empty? ? 'Not specified': chat.visitor_name
  %td= chat.chat_accepted ? local_time(chat.chat_accepted, '%b %e/%y %l:%M %p') : "Not accepted #{local_time(chat.chat_requested, '%b %e/%Y %l:%M %p')}".html_safe
  %td= chat.department ? chat.department.name : 'Any Department'

