%tr
  %td= link_to chat.ticket_id, chat, data: { toggle: "modal", target: "#ajax-modal" }, remote: true
  %td= chat.agent ? chat.agent.name : 'None'
  %td= chat.website.url
  %td= chat.visitor_name.empty? ? 'Not specified': chat.visitor_name
  %td= chat.chat_accepted_status(current_agent) 
  %td= chat.department ? chat.department.name : 'Any Department'
  %td= link_to "View", chat, data: { toggle: "modal", target: "#ajax-modal" }, remote: true, class: "btn btn-default btn-sm"

