<%= form_for(@chat) do |f| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
      <% @chat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.number_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :website_id %><br>
    <%= f.number_field :website_id %>
  </div>
  <div class="field">
    <%= f.label :visitor_id %><br>
    <%= f.number_field :visitor_id %>
  </div>
  <div class="field">
    <%= f.label :agent_id %><br>
    <%= f.number_field :agent_id %>
  </div>
  <div class="field">
    <%= f.label :agent_typing %><br>
    <%= f.text_field :agent_typing %>
  </div>
  <div class="field">
    <%= f.label :visitor_typing %><br>
    <%= f.text_field :visitor_typing %>
  </div>
  <div class="field">
    <%= f.label :chat_requested %><br>
    <%= f.datetime_select :chat_requested %>
  </div>
  <div class="field">
    <%= f.label :chat_accepted %><br>
    <%= f.datetime_select :chat_accepted %>
  </div>
  <div class="field">
    <%= f.label :chat_ended %><br>
    <%= f.datetime_select :chat_ended %>
  </div>
  <div class="field">
    <%= f.label :visitor_name %><br>
    <%= f.text_field :visitor_name %>
  </div>
  <div class="field">
    <%= f.label :visitor_email %><br>
    <%= f.text_field :visitor_email %>
  </div>
  <div class="field">
    <%= f.label :visitor_department %><br>
    <%= f.text_field :visitor_department %>
  </div>
  <div class="field">
    <%= f.label :visitor_question %><br>
    <%= f.text_field :visitor_question %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
