= form_tag chats_path, :method => 'get', class: 'form-horizontal', remote: true do
  %fieldset.form-container
    .form-group
      %label.col-md-3.control-label Ticket ID
      .col-md-3
        .input-group
          = text_field_tag "chat_id", nil, :class => "form-control ticket-field"
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-3.control-label Visitor Email
      .col-md-6
        .input-group
          = text_field_tag "visitor_email", nil, :class => "form-control email-field"
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-3.control-label Agent
      .col-md-9
        = select_tag :agent_ids, options_from_collection_for_select(@agents, "id", "name"), {:multiple => true, :style => "width:100%", :class  => "select2", :placeholder => "Any agent(s)" }
        .help-text{style: "font-size: 10px;"}
          Limit search to specific agents or leave blank to search all agents.
    .form-group
      %label.col-md-3.control-label Website
      .col-md-9
        = select_tag :website_ids, options_from_collection_for_select(@websites, "id", "name"), {:multiple => true, :style => "width:100%", :class  => "select2", :placeholder => "Any website(s)" }
        .help-text{style: "font-size: 10px;"}
          Limit search to specific websites or leave blank to search all websites.
    .form-group
      %label.col-md-3.control-label
        Date Range
      .col-md-4
        .input-group
          %input#from-date.form-control.hasDatepicker{"data-date-format" => "yyyy/mm/dd", :placeholder => "From", :type => "text", :name => "from_date"}
          %span.input-group-addon
            %i#from-date-icon.fa.fa-calendar
      .col-md-1
      .col-md-4
        .input-group
          %input#to-date.form-control.hasDatepicker{"data-date-format" => "yyyy/mm/dd", :placeholder => "To", :type => "text", :name => "to_date"}
          %span.input-group-addon
            %i#to-date-icon.fa.fa-calendar
  .widget-footer
    = submit_tag "Search", :class => "btn btn-primary"

:javascript
  function initialize_qtip() {
    $('.ticket-field').qtip(
      default_style('This is the Ticket ID provided to you by your visitor. You can use this to reference a chat from them.', '.ticket-field')
    );

    $('.email-field').qtip(
      default_style('This is your visitors email address, you can search for all previous chats that they had using this email address.', '.email-field')
    );
  }
  
  function initialize_datepicker() {
    $("#from-date").datepicker()
      .on('changeDate', function() {
        $(this).datepicker('hide');
      });

    $("#to-date").datepicker()
      .on('changeDate', function() {
        $(this).datepicker('hide');
      });

    $('#from-date-icon').click(function() {
      $("#from-date").datepicker('show');
    });

    $('#to-date-icon').click(function() {
      $("#to-date").datepicker('show');
    });
  }

  $( document ).ready(function() {
    initialize_qtip();
    initialize_datepicker();
  });

  $(window).bind('page:change', function() {
    initialize_qtip();
    initialize_datepicker();
  });
