= render 'layouts/page_header', :title => 'Chat Transcripts', :icon => 'fa-file-text-o'
.row
  %article.col-sm-8.col-md-8.col-lg-6
    #wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-colorbutton" => "false", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false"}
      %header
        %span.widget-icon
          %i.fa.fa-search
        %h2 Search Chat Transcripts
      %div
        .widget-body
          = render 'search_form'

.row
  .col-sm-12.col-md-12.col-lg-12
    #agent-table.jarviswidget{:role => "widget"}
      %header{:role => "heading"}
        %h2
          %strong Chats
        %span.jarviswidget-loader
          %i.fa.fa-refresh.fa-spin
      %div{:role => "content"}
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th Chat ID
                %th Agent
                %th Website
                %th Visitor Details
                %th Date
                %th Department
                %th Status
                %th
            %tbody
              - @chats.each do |chat|
                %tr
                  %td= chat.id
                  %td= chat.agent.name
                  %td= chat.website.url
                  %td= chat.visitor.name
                  %td= chat.chat_ended
                  %td= chat.visitor_department
                  %td= chat.status
                  %td= link_to 'View Transcript', chat
              - if @chats.count == 0
                %tr
                  %td{:colspan => "8"}
                    %h4 No chats found