<tr>
  <td>
    <%= agent.name %>
  </td>
  <td>
    <%= agent.email %>
  </td>
  <td>
    <%= agent.title %>
  </td>
  <td>
    <%= agent.access_level_display %>
  </td>
  <td>
    <%= image_tag agent.avatar_url, :style => "height: 32px; width: 32px;" %>
  </td>
  <td>
    <% if agent.can_edit?(current_agent) %>
      <%= link_to edit_agent_path(agent), :class => "btn btn-default btn-sm" do %>
        <i class="fa fa-edit"></i>
        Edit
      <% end %>
      &nbsp;
    <% end %>
    <% if agent.can_delete?(current_agent) %>
      <%= link_to agent, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do %>
        <i class="fa fa-trash-o"></i>
        Delete
      <% end %>
    <% end %>
  </td>
</tr>
