= form_for(@agent, html: {class: 'form-horizontal', multipart: true}) do |f|
  = render "layouts/error_messages", f: @agent
  %fieldset
    .form-group
      %label.col-md-4.control-label= f.label :name
      .col-md-8
        .input-group
          = f.text_field :name, class: "form-control name-field", maxlength: 30
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

    .form-group
      %label.col-md-4.control-label= f.label :display_name
      .col-md-8
        .input-group
          = f.text_field :display_name, class: "form-control display-name-field", maxlength: 20
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

    .form-group
      %label.col-md-4.control-label= f.label :title
      .col-md-8
        .input-group
          = f.text_field :title, class: "form-control title-field", maxlength: 25
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

    .form-group
      %label.col-md-4.control-label= f.label :email
      .col-md-8
        .input-group
          = f.text_field :email, class: "form-control email-field"
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

    .form-group
      %label.col-md-4.control-label= f.label :password
      .col-md-8
        .input-group
          = f.password_field :password, autocomplete: "off", class: "form-control password-field"
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

    .form-group
      %label.col-md-4.control-label= f.label :password_confirmation, "Confirm Password"
      .col-md-8
        .input-group
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

    - unless @agent.id == current_agent.id && current_agent.access_level == 'agent'
      .form-group
        %label.col-md-4.control-label= f.label :access_level, "Access Level"
        .col-md-8
          - if @agent.access_level == 'superadmin'
            %div{style: "padding-top: 7px;"}
              %strong Super Admin
          - else
            .input-group
              = f.select :access_level, [["Agent", "agent"], ["Admin", "admin"]], {include_blank: "-- Select Account Type --"}, {class: "form-control access-field"}
              %span{class:"input-group-addon"}
                %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label= f.label "Photo"
      .col-md-8
        = image_tag(@agent.avatar_url) if @agent.avatar?
        .input-group
          = f.file_field :avatar, class: "form-control photo-field file-form-control"
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
        = f.hidden_field :avatar_cache
        .help-text{style: "font-size: 10px;"}
          Photo should be 60 x 60 pixels
    - if @agent.avatar?
      .form-group
        %label.col-md-4.control-label
        .col-md-8
          %label
            = f.check_box :remove_avatar
            Remove photo
    - if current_agent.access_level != 'agent'
      .form-group
        %label.col-md-4.control-label Assigned Websites
        .col-md-8.websites-field
          = f.select :website_ids, @websites.collect {|x| [x.name, x.id]}, {}, {multiple: true, style: "width:100%", class: "select2", id: "websites-select" }
          .help-text{style: "font-size: 10px;"}
            You will be able to chat with visitors on these websites
      .form-group
        %label.col-md-4.control-label Assigned Departments
        .col-md-8.departments-field
          = f.hidden_field :department_ids, style: "width: 100%;", id: "department-select"
          .help-text{style: "font-size: 10px;"}
            You will be able to chat with visitors who request these departments

  .widget-footer
    - if current_agent.access_level != 'agent'
      = link_to "Cancel", agents_path, class: "btn btn-default"
    - else
      = link_to "Return to Chat Monitor", monitor_path, class: "btn btn-default"
    = f.submit @agent.new_record? ? "Add Agent" : "Update Agent", class: "btn btn-primary"

:javascript

  function initialize() {

    $("#department-select").select2({
        placeholder: "Departments",
        multiple: true,
        ajax: {
          url: "/departments/",
          dataType: 'json',
          quietMillis: 50,
          data: function (term) {
            var websites = [];
            $('#websites-select :selected').each(function(i, selected){
              websites[i] = $(selected).val();
            });
            return {
              websites: websites
            };
          },
          results: function (data) {
            return {
              results: $.map(data, function (item) {
                return {
                  id: item.id,
                  text: item.website + ": " + item.name
                }
              })
            };
          }
        },
        initSelection: function(element, callback) {
          var result = [];
          var ids = element.val().substring(1, element.val().length-1).replace(/\s+/g, '');
          //console.log(element.val());
          //console.log(ids.split(","));
          var f = function(id) {
            return $.ajax("/departments/" + id, {
              dataType: 'json',
              success: function(data) {
                if (data.length > 0) {
                  $.each(data, function(index, item) {
                    result.push({id: item.id, text: item.website + ": " + item.name});
                  });
                } else {
                  result.push(data.department);
                }
              }
            })
          };
          var def = [];
          $(ids.split(",")).each(function() {
            def.push(f(this))
          });
          $.when.apply($, def).done(function() {
            //console.log(result);
            callback(result);
          });
        }
    });

    $('.name-field').qtip(
      default_style('This is your full name, it will not be displayed to visitors (e.g. Adams Jones).', '.name-field')
    );

    $('.display-name-field').qtip(
      default_style('When chatting with a visitor, this is the name visitors will know you as (e.g. Adam).', '.display-name-field')
    );

    $('.title-field').qtip(
      default_style('When chatting with a visitor, this title will be displayed on the widget', '.title-field')
    );

    $('.email-field').qtip(
      default_style('This is your email address (e.g. adam@providechat.com). You will use this email address to log into your account.', '.email-field')
    );

    $('.password-field').qtip(
      default_style('This is the password you will use to log in.', '.password-field')
    );

    $('.access-field').qtip(
      default_style('<strong>Agents</strong> can chat with visitors, view the chat monitor, and view previous chat transcripts.<br><br><strong>Admins</strong> have all the same permissions as agents, along with access to administer account settings.', '.access-field')
    );

    $('.photo-field').qtip(
      on_focus_style('We recommend uploading a photo of your face here. This will be displayed in the chat widget when visitors chat with you.', '.photo-field')
    );
  }

  $( document ).ready(function() {
    initialize();
  });

  $(window).bind('page:change', function() {
    initialize();
  });