<%= form_for(@agent, :html => {class: 'form-horizontal'}) do |f| %>
  <%= render "layouts/error_messages", :f => @agent %>
  
	<fieldset>

		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :name %></label>
			<div class="col-md-8">
        <%= f.text_field :name, :class => "form-control" %>
			</div>
		</div>
    <div class="form-group">
      <label class="col-md-4 control-label"><%= f.label :display_name %></label>
      <div class="col-md-8">
        <%= f.text_field :display_name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"><%= f.label :email %></label>
      <div class="col-md-8">
        <%= f.text_field :email, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"><%= f.label :password %></label>
      <div class="col-md-8">
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"><%= f.label :password_confirmation %></label>
      <div class="col-md-8">
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %> 
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"><%= f.label :account_type %></label>
      <div class="col-md-8">
        <% if @agent.account_type == 'superadmin' %>
          Superadmin
        <% else %>
          <%= f.select :account_type, { "Agent" => "agent", "Admin" => "admin" }, include_blank: "-- Select Account Type --", :class => "form-control" %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"><%= f.label :avatar %></label>
      <div class="col-md-8">
        <%= f.file_field :avatar, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"><%= f.label :status %></label>
      <div class="col-md-8">
        <%= f.select :status, { "Enabled" => "enabled", "Disabled" => "disabled"}, :class => "form-control" %>
      </div>
    </div>
  </fieldset>
	<footer>
    <%= link_to "Cancel", agents_path, :class => "btn btn-default" %>
    <%= f.submit "Save", :class => "btn btn-primary" %>
	</footer>

<% end %>
