= form_for(@agent, :html => {class: 'form-horizontal', :multipart => true}) do |f|
  = render "layouts/error_messages", :f => @agent
  %fieldset
    .form-group
      %label.col-md-4.control-label= f.label :name
      .col-md-8
        .input-group
          = f.text_field :name, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is your name, it will not be displayed to visitors (e.g. Adams Jones)
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label= f.label :display_name
      .col-md-8
        .input-group
          = f.text_field :display_name, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            When chatting with a visitor, this is the name visitors will know you as (e.g. Adam)
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

    .form-group
      %label.col-md-4.control-label= f.label :email
      .col-md-8
        .input-group
          = f.text_field :email, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is your email address (e.g. adam@providechat.com). You will use this email address to log into your account.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label= f.label :password
      .col-md-8
        .input-group
          = f.password_field :password, autocomplete: "off", :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is the password you will use to log in.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label= f.label :password_confirmation, "Confirm Password"
      .col-md-8
        = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
    .form-group
      %label.col-md-4.control-label= f.label :account_type, "Access Level"
      .col-md-8
        - if @agent.account_type == 'superadmin'
          %div{style: "padding-top: 6px;"}
            %strong Super Admin
        - else
          = f.select :account_type, [["Agent", "agent"], ["Admin", "admin"]], {:include_blank => "-- Select Account Type --"}, {:class => "form-control"}
          %span{class:"help-block"}
            %strong Agents 
            can chat with visitors, view the chat monitor, and view previous chat transcripts. 
            %strong Admins 
            have all the same permissions as agents, along with access to administer account settings.
    .form-group
      %label.col-md-4.control-label= f.label "Photo"
      .col-md-8
        = image_tag(@agent.avatar_url) if @agent.avatar?
        = f.file_field :avatar, :class => "form-control"
        = f.hidden_field :avatar_cache
        %span{class:"help-block"}
          We recommend uploading a photo of your face here. This will be displayed in the chat widget when visitors chat with you.
    - if @agent.avatar?
      .form-group
        %label.col-md-4.control-label
        .col-md-8
          %label
            = f.check_box :remove_avatar
            Remove photo
    .form-group
      %label.col-md-4.control-label Assigned Websites
      .col-md-8
        = f.select :website_ids, @websites.collect {|x| [x.name, x.id]}, {}, {:multiple => true, :style => "width:100%", :class  => "select2" }

  .widget-footer
    = link_to "Cancel", agents_path, :class => "btn btn-default"
    = f.submit @agent.new_record? ? "Add Agent" : "Update Agent", :class => "btn btn-primary"
