
<%= render 'layouts/page_header', :title => 'Agents', :icon => 'fa-user' %>

<div class="row">

  <div class="col-sm-12 col-md-12 col-lg-12">

    <div class="jarviswidget jarviswidget-color-purple" id="agent-table" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" role="widget"> 

		<header role="heading">
			<span class="widget-icon"> <i class="fa fa-user"></i> </span>
			<h2><strong>Your Agents</strong></h2>		
					
			<div class="widget-toolbar" role="menu">
        <%= link_to "Add Agent", new_agent_path, { title: "Add Agent", class: "btn btn-primary" }  %>
			</div>
		<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

		<!-- widget div-->
		<div role="content">
							
			<!-- widget content -->
			<div class="widget-body">
				
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Account type</th>
              <th>Avatar</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @agents.each do |agent| %>
              <tr>
                <td><%= agent.name %></td>
                <td><%= agent.email %></td>
                <td><%= agent.account_type %></td>
                <td><%= image_tag agent.avatar_url, :class => "img-circle", :style => "height: 32px; width: 32px;" %></td>
                <td>
                  <%= link_to edit_agent_path(agent), :class => "btn btn-default btn-sm" do %>
                    <i class="fa fa-edit"></i> Edit
                  <% end %>
                  &nbsp;
                  <%= link_to agent, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do %>
                    <i class="fa fa-trash-o"></i> Delete
                  <% end %>
                </td>
              </tr>
            <% end %>
            <% if @agents.count == 0 %>
              <tr>
                <td colspan="8">No agents</td>
              </tr>
            <% end %>
          </tbody>
        </table>
				
        <br>
        <div class="widget-footer">
			
          <%= link_to "Add Agent", new_agent_path, :class => "btn btn-primary btn-xs" %>

				</div>
			</div>
			<!-- end widget content -->
			
		</div>
		<!-- end widget div -->
		
	  </div>

    <br>



  </div>
</div>

