<%= render 'layouts/page_header', :title => 'Agents', :icon => 'fa-user' %>

<div id="content">
  <div class="row">

	  <article class="col-sm-12 col-md-12 col-lg-6">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Display name</th>
            <th>Email</th>
            <th>Account type</th>
            <th>Avatar</th>
            <th>Status</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @agents.each do |agent| %>
            <tr>
              <td><%= agent.name %></td>
              <td><%= agent.display_name %></td>
              <td><%= agent.email %></td>
              <td><%= agent.account_type %></td>
              <td><%= agent.avatar %></td>
              <td><%= agent.status %></td>
              <td><%= link_to 'Edit', edit_agent_path(agent), :class => "btn btn-default" %></td>
              <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
            </tr>
          <% end %>
          <% if @agents.count == 0 %>
            <tr>
              <td colspan="9">No agents</td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to "New Agent", new_agent_path, :class => "btn btn-primary" %>

    </article>
  </div>
</div>
