= render 'layouts/page_header', :title => 'Agents', :icon => 'fa-user'
.row
  .col-sm-12.col-md-12.col-lg-12
    #agent-table.jarviswidget.jarviswidget-color-darken{:role => "widget"}
      %header{:role => "heading"}
        %span.widget-icon
          %i.fa.fa-user
        %h2
          %strong Agents
        .widget-toolbar{:role => "menu"}
          = link_to "New Agent", new_agent_path, { title: "Add Agent", class: "btn btn-primary" }
        %span.jarviswidget-loader
          %i.fa.fa-refresh.fa-spin
      %div{:role => "content"}
        .widget-body.no-padding
          .alert.alert-info.no-margin.fade.in
            %div{style: "float: left;"}
              %i.fa-fw.fa.fa-info
            %div{style: "margin-left: 24px;"}
              Agents are the foundation of your Provide Chat system. Your account is able to have #{current_agent.organization.max_agents} agents.
          %table.table.table-bordered
            %thead
              %tr
                %th Name
                %th Email
                %th Access Level
                %th Photo
                %th
            %tbody
              - @agents.each do |agent|
                %tr
                  %td= agent.name
                  %td= agent.email
                  %td= agent.access_level_display
                  %td= image_tag agent.avatar_url, :class => "img-circle", :style => "height: 32px; width: 32px;"
                  %td
                    - if agent.id == current_agent.id || current_agent.access_level != 'agent'
                      = link_to edit_agent_path(agent), :class => "btn btn-default btn-sm" do
                        %i.fa.fa-edit
                        Edit
                      &nbsp;
                    - if agent.id != current_agent.id && current_agent.access_level != 'agent' && agent.access_level != 'superadmin'
                      = link_to agent, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" do
                        %i.fa.fa-trash-o
                        Delete
              - if @agents.count == 0
                %tr
                  %td{:colspan => "8"} No agents
