= form_for(@invitation, :html => {class: 'form-horizontal', id: 'update-invitation'}) do |f|
  = render "layouts/error_messages", :f => @invitation
  %fieldset
    .form-group
      %label.col-md-3.control-label= f.label :invitation_message, "Invitation message"
      .col-md-9
        = f.text_area :invitation_message, :class => "form-control message-field", :style => "height: 90px;"
    .form-group
      %label.col-md-3.control-label= f.label :name_text, "Name field"
      .col-md-9
        = f.text_field :name_text, :class => "form-control"
    .form-group
      %label.col-md-3.control-label= f.label :button_text, "Start chat button"
      .col-md-9
        = f.text_field :button_text, :class => "form-control"
  %fieldset
    %legend Smart Invitations
    .form-group
      .col-md-3
      .col-md-9
        .form-inline
          %label
            = f.radio_button :invite_mode, "page_views", :class => "radio radio-inline"
            Invite after
            #{f.text_field :invite_pageviews, :placeholder => "Page views", :class => "form-control", :style => "width: 50px;"}
            page views.
    .form-group
      %label.col-md-3
      .col-md-9
        .form-inline
          %label
            = f.radio_button :invite_mode, "seconds", :class => "radio radio-inline"
            Invite after
            #{f.text_field :invite_seconds, :placeholder => "Seconds", :class => "form-control", :style => "width: 50px;"} seconds.
    .form-group
      .col-md-3
      .col-md-9
        %label
          = f.radio_button :invite_mode, "no_invite", :class => "radio radio-inline", checked: @invitation.invite_mode == 'no_invite'
          Do not invite visitors to chat.

  %hr

  %footer
    = f.submit "Apply Changes", :class => "btn btn-primary"

  %hr

- content_for :scripts do
  :javascript
    $( document ).ready(function() {

      $("#invitation_invite_pageviews").TouchSpin({
        min: 1,
        step: 1,
        max: 10
      });

      $("#invitation_invite_seconds").TouchSpin({
        min: 1,
        step: 1,
        max: 90
      });

      $('.message-field').qtip(
        no_icon_style('This message is displayed to your visitors when you invite them to chat with your agents.', '.message-field')
      );
    });
