= form_for(@invitation, :html => {class: 'form-horizontal', id: 'update-invitation'}) do |f|
  = render "layouts/error_messages", :f => @invitation
  %fieldset
    .form-group
      %label.col-md-3.control-label= f.label :invitation_message, "Invitation message"
      .col-md-9
        .input-group
          = f.text_field :invitation_message, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            When enabled, every visitor on your website will receive an invitation to chat with one of your operators after a predefined period of time or page views.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
  %fieldset
    %legend Smart Invitations
    .form-group
      .col-md-3
      .col-md-9
        %label
          = f.radio_button :invite_mode, "no_invite", :class => "radio radio-inline", checked: @invitation.invite_mode == 'no_invite'
          Do not invite visitors to chat.
    .form-group
      .col-md-3
      .col-md-9
        .form-inline
          %label
            = f.radio_button :invite_mode, "page_views", :class => "radio radio-inline"
            Invite after
            #{f.text_field :invite_pageviews, :placeholder => "Page views", :class => "form-control", :style => "width: 40px;"}
            page views.
    .form-group
      %label.col-md-3
      .col-md-9
        .form-inline
          %label
            = f.radio_button :invite_mode, "seconds", :class => "radio radio-inline"
            Invite after 
            #{f.text_field :invite_seconds, :placeholder => "Seconds", :class => "form-control", :style => "width: 40px;"} seconds.

  .widget-footer
    = f.submit "Update", :class => "btn btn-primary"
