<%= form_for(@invitation, :html => {class: 'smart-form', id: 'update-invitation'}) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <header>Customize Language</header>
	<fieldset>
    <div class="row">
      <section class="col col-12">
        <label class="input">
          <%= f.text_field :invitation_message, :placeholder => @invitation.invitation_message %>
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-12">
        <label class="input">
          <%= f.check_box :smart_invite_enabled, {}, true, false %>
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-12">
        <label class="input">
          <%= f.select :smart_invite_mode, { "Invite after X page views" => "pageviews", "Invite after X seconds" => "seconds" }, include_blank: "-- Invitation Mode --", :class => "form-control" %>
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-12">
        <label class="input">
          <%= f.text_field :invite_pageviews, :placeholder => @invitation.invite_pageviews %>
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-12">
        <label class="input">
          <%= f.text_field :invite_seconds, :placeholder => @invitation.invite_seconds %>
        </label>
      </section>
    </div>
  </fieldset>
	<footer>
    <%= f.submit "Update", :class => "btn btn-primary" %>
	</footer>

<% end %>
