.widget-preview-container
  #pc-chat-window{:style => "display: block;"}
    .chat-widget.chat-widget-open{:style => "background-color: \##{@chat_widget.color}; border-color: #{darken_color(@chat_widget.color)};"}
      #close-chat-widget.chat-widget-header
        Welcome to Provide Chat
        %div{:style => "float: right; margin-right: 10px;"}
          = image_tag "widget/down-arrow.png"
          = image_tag "widget/close.png"
      #chat-widget-content
        .chat-widget-container
          %div{:style => "margin: 10px; font-family: arial, verdana, helvetica; font-size: 13px;"}
            %p= @prechat_form.intro_text
            %p
              %input#start-chat-text-box-1{:placeholder => @prechat_form.name_text, :type => "text"}/

            - if @prechat_form.email_enabled
              %p
                %input#start-chat-text-box-2{:placeholder => @prechat_form.email_text, :type => "text"}/

            - if @prechat_form.department_enabled && @departments.count > 0
              %p
                %select#unavailable-department
                  %option{:value => "0"} Any Department
                  - @departments.each do |department|
                    %option{:value => department.id}= department.name
            %textarea#start-chat-question{:placeholder => @prechat_form.message_text, :rows => "4"}
            %input#start-chat-btn{:style => "color: #333333; font-family: arial, verdana, helvetica; font-size: 12px; height: 40px;", :type => "submit", :value => "  #{@prechat_form.button_text}  "}/
      .chat-widget-footer
        %a{:href => "http://www.providechat.com/", :style => "color: #EEEEEE;"} Live Chat Software
        powered by Provide Chat.