<%= render 'layouts/page_header', :title => 'Chat Widget', :icon => 'fa-toggle-up', :subpage => 'Pre-chat Survey' %>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <%= form_tag(prechat_forms_path, method: 'get', class: 'form-horizontal', id: 'edit_prechat_form') do %>

    	<fieldset>
    		<div class="form-group">
    			<label class="col-md-4 control-label">Website</label>
    			<div class="col-md-8">
            <%= select_tag "website_id", options_from_collection_for_select(@websites, "id", "url", @prechat_form.website_id), :class => "form-control", :id => "website_id" %>
    			</div>
    		</div>
      </fieldset>    
      
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  
  <% if @prechat_form %>

	  <div class="col-sm-12 col-md-6">
      <%= render 'pre_chat' %>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
      	<header>
      		<span class="widget-icon"> <i class="fa fa-toggle-up"></i> </span>
      		<h2>Pre-chat Survey</h2>
      	</header>

				<div>

					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>

					<div class="widget-body">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class="col-sm-12 col-md-8 col-lg-8">
      
      <div class="alert alert-warning alert-block">
        <h4 class="alert-heading">No websites configured yet!</h4>
        
        You have no yet added any websites, please <%= link_to "add a website", new_website_path %> 
        to customize the pre-chat survey for that website.
      </div>

    </div>
  <% end %>
  
</div>

<script>
  $(function() {
    $('#website_id').on ('change', function() {
      $('#edit_prechat_form').submit();
    });
  });
</script>


