= render 'layouts/page_header', :title => 'Start your Provide Chat Subscription', :icon => 'fa-credit-card'

.col-sm-12.col-md-8.col-lg-6
  #wid-id-0.jarviswidget
    %header
      %span.widget-icon
        %i.fa.fa-credit-card
      %h2 Plan Details
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    %div{:role => "content"}
      .widget-body

        = form_for @subscription, html: { id: 'payment-form' } do |f|
          = render "layouts/error_messages", :f => @subscription
          %fieldset
            .form-group
              %label.col-md-5.control-label Billing Email Address
              .col-md-7
                .form-inline
                  %label
                    %input{:name => "email_address", :size => "20", :type => "email", :class => "form-control", :value => current_agent.email}/
                .help-text{style: "font-size: 10px;"}
                  This is the billing email address that will be receiving invoices

            .form-group
              %label.col-md-5.control-label= f.label :quantity, "Number of Agents"
              .col-md-7
                .form-inline
                  .input-group.spinner
                    %input.form-control{:type => "text", :value => "1", :id => "agent-quantity", :name => "quantity"}/
                    .input-group-btn-vertical
                      %button.btn.btn-default{:type => "button"}
                        %i.fa.fa-caret-up
                      %button.btn.btn-default{:type => "button"}
                        %i.fa.fa-caret-down
                  &nbsp;
                  agents

                .help-text{style: "font-size: 10px;"}
                  This is the number of agents that you want to purchase. Each agent is $15/month.

          %br
          .form-group
            %label.col-md-5.control-label{style: "font-size: 140%; font-weight: bold;"} Total Price
            .col-md-7
              %div{:id => "total-price"} $15 / month

          %br
          %br
          
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    %img.pull-right{:src => "http://i76.imgup.net/accepted_c22e0.png"}>/
                    Payment
                    %br
                    Details

                .panel-body
                  .row
                    .col-xs-12
                      .form-group
                        %label{:for => "cardNumber"} CARD NUMBER
                        .input-group
                          %input.form-control{:autofocus => "", "data-stripe" => "number", :name => "cardNumber", :placeholder => "Valid Card Number", :required => "", :type => "text"}/
                          %span.input-group-addon
                            %i.fa.fa-credit-card
                  .row
                    .col-xs-7.col-md-7
                      .form-group
                        %label{:for => "expMonth"} EXPIRATION DATE
                        .col-xs-6.col-lg-6.pl-ziro
                          %input.form-control{"data-stripe" => "exp_month", :name => "expMonth", :placeholder => "MM", :required => "", :type => "text"}/
                        .col-xs-6.col-lg-6.pl-ziro
                          %input.form-control{"data-stripe" => "exp_year", :name => "expYear", :placeholder => "YY", :required => "", :type => "text"}/
                    .col-xs-5.col-md-5.pull-right
                      .form-group
                        %label{:for => "cvCode"} CV CODE
                        %input.form-control{"data-stripe" => "cvc", :name => "cvCode", :placeholder => "CV", :required => "", :type => "password"}/
                  .row
                    .col-xs-12
                      .form-group
                        %label{:for => "couponCode"} COUPON CODE
                        %input.form-control{:name => "couponCode", :type => "text"}


          .widget-footer
            = f.submit "Start Subscription", :class => "btn btn-success btn-lg"

