.well.no-padding
  = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'smart-form client-form', id: 'login-form'}) do |f|
    %header
      Sign in your Provide Chat account
    %fieldset
      %section
        = render "layouts/flash_messages"
        = devise_error_messages!
      %section
        %label.input
          = f.email_field :email, autofocus: true, :class => "email-field", :placeholder => "Email address"
      %section
        %label.input
          = f.password_field :password, autocomplete: "off", :class => "password-field", :placeholder => "Password"
      %section
        %label.checkbox
          = f.check_box :remember_me
          = succeed "Stay signed in" do
            %i
      %section
        = button_tag type: "submit", :class => "btn btn-primary btn-lg" do
          %i.fa.fa-sign-in &nbsp; Sign in

    %footer
      New to Provide Chat? 
      = link_to "Sign up now >>", new_registration_path(resource_name)
      .pull-right
        = link_to "Forgot password?", new_password_path(resource_name)

:javascript

  $("#login-form").validate({
    // Rules for form validation
    rules : {
      email : {
        required : true,
        email : true
      },
      password : {
        required : true,
        minlength : 3,
        maxlength : 20
      }
    },

    // Messages for form validation
    messages : {
      email : {
        required : 'Please enter your email address',
        email : 'Please enter a VALID email address'
      },
      password : {
      required : 'Please enter your password'
      }
    },

    // Do not change code below
    errorPlacement : function(error, element) {
    error.insertAfter(element.parent());
    }
  });
