= render partial: 'layouts/flash_messages', flash: flash

.well.no-padding
  = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'smart-form client-form', id: 'login-form'}) do |f|
    %header
      Sign in your Provide Chat account
    %fieldset
      %section
        %label.label= f.label :email
        %label.input
          %i.icon-append.fa.fa-user
          = f.email_field :email, autofocus: true, :class => "name-field"
      %section
        %label.label= f.label :password
        %label.input
          %i.icon-append.fa.fa-lock
          = f.password_field :password, autocomplete: "off", :class => "password-field"
        .note
          = link_to "Forgot password?", new_password_path(resource_name)
      %section
        %label.checkbox
          = f.check_box :remember_me
          = succeed "Stay signed in" do
            %i
    %footer= f.submit "Sign in", :class => "btn btn-primary"

:javascript

  $( document ).ready(function() {

    $('.name-field').qtip(
      no_icon_style('Please enter email address', '.name-field')
    );

    $('.password-field').qtip(
      no_icon_style('Enter your password', '.password-field')
    );
  });