<%= form_for(@rapid_response) do |f| %>
  <% if @rapid_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rapid_response.errors.count, "error") %> prohibited this rapid_response from being saved:</h2>

      <ul>
      <% @rapid_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.number_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :ancestry %><br>
    <%= f.text_field :ancestry %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
