<%= render 'layouts/page_header', :title => 'Settings', :icon => 'fa-sitemap', :subpage => 'Rapid Responses' %>

<div id="content">
  <div class="row">

	  <article class="col-sm-12 col-md-12 col-lg-6">

			<div id="nestable-menu">
				<button type="button" class="btn btn-default" data-action="expand-all">
					Expand All
				</button>
				<button type="button" class="btn btn-default" data-action="collapse-all">
					Collapse All
				</button>
			</div>

				
			<div class="dd" id="nestable">
				<ol class="dd-list">
          <% @rapid_responses.roots.each do |rapid_response| %>

  					<li class="dd-item dd3-item" data-id="<%= rapid_response.id %>">
  						<div class="dd-handle dd3-handle">
  							Drag
  						</div>
  						<div class="dd3-content">
  							<%= rapid_response.name %>							
  						</div>
              <ol class="dd-list">
                <% rapid_response.children.each do |rapid_response_child| %>
    							<li class="dd-item dd3-item" data-id="16">
    								<div class="dd-handle dd3-handle">
    									Drag
    								</div>
    								<div class="dd3-content">
    									<%= rapid_response_child.name %>
                      <div class="pull-right">
                        <%= rapid_response_child.text %>
                      </div>
    								</div>
    							</li>
                <% end %>
              </ol>
  					</li>
          <% end %>
				</ol>
			</div>
				
      <br>
      
      <%= link_to 'New Rapid response', new_rapid_response_path %>
    </article>
  </div>
</div>

