= form_for(@contact_form, :html => {class: 'form-horizontal'}) do |f|
  = render "layouts/error_messages", :f => @contact_form

  %fieldset
    .form-group
      %label.col-md-4.control-label= f.label :name
      .col-md-5
        .input-group{style: "width: 100%;"}
          = f.text_field :name, :class => "form-control"

    .form-group
      %label.col-md-4.control-label Your Email
      .col-md-5
        .input-group{style: "width: 100%;"}
          = f.text_field :email, :class => "form-control"

    .form-group
      %label.col-md-4.control-label Issue subject
      .col-md-5
        .input-group{style: "width: 100%;"}
          = f.select :subject, options_for_select([['Bug Report'], ['Question']]), {}, { :class => "form-control" }
          .help-text{style: "font-size: 10px;"}
            This department will be available on these websites

    .form-group
      %label.col-md-4.control-label Please tell us the details of your issue
      .col-md-7
        .input-group{style: "width: 100%;"}
          = f.text_area :message, :class => "form-control"

  .widget-footer
    = f.submit "Send Message", :class => "btn btn-primary"
