= form_for(@contact_form, :html => {class: 'form-horizontal'}) do |f|
  = render "layouts/error_messages", :f => @contact_form

  %fieldset
    .form-group
      %label.col-md-5.control-label= f.label :name
      .col-md-4
        .input-group{style: "width: 100%;"}
          = f.text_field :name, :class => "form-control"

    .form-group
      %label.col-md-5.control-label Email
      .col-md-4
        .input-group{style: "width: 100%;"}
          = f.text_field :email, :class => "form-control"

    .form-group
      %label.col-md-5.control-label Your Message
      .col-md-6
        .input-group{style: "width: 100%;"}
          = f.text_area :message, :class => "form-control", :style => "height: 200px;"

  .widget-footer
    = f.submit "Send Email", :class => "btn btn-primary"
