<%= form_for(@contact_form, :html => {class: 'form-horizontal'}) do |f| %>
  <%= render "layouts/error_messages", :f => @contact_form %>
  <fieldset>
    <div class="form-group">
      <label class="col-md-5 control-label">
        <%= f.label :name %>
      </label>
      <div class="col-md-4">
        <div class="input-group" style="width: 100%;">
          <%= f.text_field :name, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-5 control-label">Email</label>
      <div class="col-md-4">
        <div class="input-group" style="width: 100%;">
          <%= f.text_field :email, :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-5 control-label">Your Message</label>
      <div class="col-md-6">
        <div class="input-group" style="width: 100%;">
          <%= f.text_area :message, :class => "form-control", :style => "height: 200px;" %>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="widget-footer">
    <%= f.submit "Send Email", :class => "btn btn-primary" %>
  </div>
<% end %>
