.well.no-padding
  = form_for(@contact_form, :html => {class: 'smart-form client-form'}) do |f|
    = render "layouts/error_messages", :f => @contact_form
  
    %header
      Contact Us
    %fieldset
      %legend We strive to provide you with fast and friendly service for any questions you may have. Please fill out this form and we'll get back to you as soon as possible.

      %section
        %label.input= f.label :name
        = f.text_field :name, :class => "form-control"

      %section
        %label.input= f.label :email
        = f.text_field :email, :class => "form-control"

      %section
        %label.input Your Message
        = f.text_area :message, :class => "form-control", :style => "height: 200px;"

    %footer
      = f.submit "Send Message", :class => "btn btn-primary"
