= form_for(@organization, :html => {class: 'form-horizontal'}) do |f|
  = render "layouts/error_messages", :f => @organization
  %fieldset
    .form-group
      %label.col-md-4.control-label Main Email
      .col-md-8
        .input-group
          = f.text_field :email, :class => "form-control"
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is the email that any offline messages will be redirected to if your visitor didn't select a Department, or you do not have any departments.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label Agent Inactivity Timeout
      .col-md-8
        .input-group
          = f.number_field :agent_session_timeout, :class => "form-control", :min => 1
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is the number of minutes your agent has to be inactive for within Provide Chat until they are automatically logged out and set to offline.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}
    .form-group
      %label.col-md-4.control-label= f.label :agent_response_timeout
      .col-md-8
        .input-group
          = f.number_field :agent_response_timeout, :class => "form-control", :min => 1
          %b.tooltip.tooltip-top-right
            %i.fa.fa-user.txt-color-teal
            This is the number of minutes your agent has to respond to a visitor's chat request. If your agent doesn't respond in time the visitor will be sent to the Offline Message form.
          %span{class:"input-group-addon"}
            %i{class:"icon-append fa fa-question-circle"}

  .widget-footer
    = f.submit "Save Settings", :class => "btn btn-primary"