= form_for(@organization, :html => {class: 'form-horizontal'}) do |f|
  = render "layouts/error_messages", :f => @organization
  %fieldset
    .form-group
      %label.col-md-5.control-label= f.label :agent_session_timeout, "Agent Inactivity Timeout"
      .col-md-7
        .form-inline
          %label
            = f.text_field :agent_session_timeout, :class => "form-control", :min => 1, :style => "width: 90px;"
            &nbsp
            minutes
        .help-text{style: "font-size: 10px;"}
          The number of minutes an agent has to be inactive before they are automatically logged out and set to offline.
    .form-group
      %label.col-md-5.control-label= f.label :agent_response_timeout, "Agent Response Timeout"
      .col-md-7
        .form-inline
          %label
            = f.text_field :agent_response_timeout, :class => "form-control", :min => 1, :style => "width: 90px;"
            &nbsp
            minutes

        .help-text{style: "font-size: 10px;"}
          The number of minutes an agent has to respond to a visitor's chat request. If no agent responds in time, the visitor will be sent to the Offline Message form.

  .widget-footer
    = f.submit "Save Settings", :class => "btn btn-primary"

:javascript
  $( document ).ready(function() {
    $("#organization_agent_session_timeout").TouchSpin({
      min: 1,
      step: 1,
      max: 90
    });

    $("#organization_agent_response_timeout").TouchSpin({
      min: 1,
      step: 1,
      max: 15
    });
  });