<%= form_for(@organization, :html => {class: 'form-horizontal'}) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>

		<div class="form-group">
			<label class="col-md-4 control-label">Organization Name</label>
			<div class="col-md-8">
        <%= f.text_field :name %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Main Email</label>
			<div class="col-md-8">
        <%= f.text_field :email %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :inactive_visitor_removal %></label>
			<div class="col-md-8">
        <%= f.select :inactive_visitor_removal, @organization.inactive_visitor_options, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :operator_session_timeout %></label>
			<div class="col-md-8">
        <%= f.select :operator_session_timeout, @organization.operator_session_timeouts, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :operator_response_timeout %></label>
			<div class="col-md-8">
        <%= f.select :operator_response_timeout, @organization.operator_response_timeouts, :class => "form-control" %>
			</div>
		</div>
  </fieldset>
	<footer>
    <%= f.submit "Save Settings", :class => "btn-lg btn-primary" %>
	</footer>  
<% end %>
