<%= form_for(@chat_widget, :html => {class: 'form-horizontal'}) do |f| %>
  <% if @chat_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat_widget.errors.count, "error") %> prohibited this chat_widget from being saved:</h2>

      <ul>
      <% @chat_widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>

		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :online_message %></label>
			<div class="col-md-8">
        <%= f.text_field :online_message, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :offline_message %></label>
			<div class="col-md-8">
        <%= f.text_field :offline_message, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :colour %></label>
			<div class="col-md-8">
        <%= f.text_field :colour, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :display_logo %></label>
			<div class="col-md-8">
        <%= f.check_box :display_logo, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :display_agent_avatar %></label>
			<div class="col-md-8">
        <%= f.check_box :display_agent_avatar, :class => "form-control" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :display_mobile_icon %></label>
			<div class="col-md-8">
        <%= f.check_box :display_mobile_icon, :class => "form-control" %>
			</div>
		</div>    

  </fieldset>
	<footer>
    <%= f.submit "Submit", :class => "btn btn-primary" %>
	</footer>
  
<% end %>
