
<%= form_for(@chat_widget, :html => {class: 'form-horizontal', id: 'update-widget'}) do |f| %>
  <% if @chat_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat_widget.errors.count, "error") %> prohibited this chat_widget from being saved:</h2>

      <ul>
      <% @chat_widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <header></header>
	<fieldset>

    <legend>Customize Language</legend>

		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :online_message, "Closed Widget - Operators online" %></label>
			<div class="col-md-8">
        <%= f.text_field :online_message, :class => "form-control", :placeholder => @chat_widget.online_message %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :offline_message, "Closed Widget - Operators offline" %></label>
			<div class="col-md-8">
        <%= f.text_field :offline_message, :class => "form-control", :placeholder => @chat_widget.offline_message %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :title_message, "Open Widget - Titlebar Message" %></label>
			<div class="col-md-8">
        <%= f.text_field :title_message, :class => "form-control", :placeholder => @chat_widget.title_message %>
			</div>
		</div>
  </fieldset>
  <fieldset>
    <legend>Customize Look</legend>
		<div class="form-group">
			<label class="col-md-4 control-label"><%= f.label :color, "Widget Color" %></label>
			<div class="col-md-8">
        <%= f.select :color, ChatWidget.color_options, {}, {:id => "color-picker", :class => "form-control"}  %>
			</div>
		</div>

    <div class="form-group">
			<label class="col-md-3 control-label"></label>
			<div class="col-md-9">
				<div class="checkbox">
					<label>
						<%= f.check_box :display_logo %>
						Display logo </label>
				</div>
				<div class="checkbox">
					<label>
            <%= f.check_box :display_agent_avatar %>
            <i></i>Display agent's avatar</label>
				</div>
				<div class="checkbox">
					<label>
            <%= f.check_box :hide_when_offline %>
            <i></i>Hide widget when all operators are offline</label>
				</div>
			</div>
		</div>

  </fieldset>
	<footer>
    <%= f.submit "Update", :class => "btn btn-primary" %>
	</footer>

<% end %>

<script>
$(function() {
  $('select[name="chat_widget[color]"]').colourPicker({
    ico: '<%= image_path "jquery.colourPicker.gif" %>', 	
    title:    true	
  });
});

 </script>
