<div class="widget-preview-container">
  <div id="pc-chat-window" style="display: block;">
    <div class="chat-widget chat-widget-open" style="background-color: <%= @chat_widget.color %>;  border-color: <%= @chat_widget.color %>;">
      <div class="chat-widget-header" id="close-chat-widget"><%= @chat_widget.title_message %>
        <div style="float: right; margin-right: 10px;">
          <%= image_tag "widget/down-arrow.png", :id => "close-chat-widget" %>
        </div>
      </div>

      <div id="chat-widget-content">
        <div id="in-chat">

          <div class="chat-widget-container" style="height: 325px;">

            <div class="operator-area">
              <div style="float: left;">
                <%= image_tag "silhouette.png", :id => "operator-image", :style => "height: 60px; width: 60px; border: 1px solid #999999;" %>
              </div>
              <div style="float: left; margin-left: 10px;">
                <p style="font-weight: bold; font-size: 16px; margin-top: 0px;" id="operator-name">Jonathan Miller</p>
              </div>
            </div>

            <div style="background-color: #3B3B3B; width: 392px; height: 30px; position: absolute; right: 4px; border-top: 1px solid #000000; border-bottom: 1px solid #000000; display:none;">

              <input type="text" style="width: 200px; font-family: Lucida Sans Unicode, verdana, helvetica; font-size: 12px; border: 1px solid #000000; border-radius: 3px; margin-left: 5px; height: 22px; padding: 2px; margin-top: 4px;" value="luke@providechat.com">

            </div>

            <div id="chat-message-area">

            </div>

          </div>

          <div class="send-message">
            <textarea id="chat-message-box" placeholder="Your message..."></textarea>
          </div>
        </div>
      </div>
      <div class="chat-widget-footer">
        <a href="http://www.providechat.com/" style="color: #EEEEEE;">Live Chat Software</a> powered by Provide Chat.
      </div>
    </div>
  </div>
</div>