- provide(:title, 'Welcome to Provide Chat')

.after-signup
  .wizard-container
    #wizard.card.wizard-card.ct-wizard-blue
      = form_for(@agent, url: after_signup_path, html: {id: "after-signup-form", class: "form-horizontal"}) do |f|
        / You can switch "ct-wizard-azzure"  with one of the next bright colors: "ct-wizard-blue", "ct-wizard-green", "ct-wizard-orange", "ct-wizard-red"
        .wizard-header
          .img-header{style: "padding: 20px;"}
            =image_tag "logo-lg.png", class: "img-responsive center-block"
            .clearfix
          %h3
            %b COMPLETE YOUR ACCOUNT SETUP
            %br
            %small This information will finalize your account setup
        %ul.nav.nav-pills
          %li{style: "width: 33%;", class: ("active" if @setup_step == 1)}
            %a{aria_expanded: "true", data_toggle: "tab", href: "#agent"} Step 1: Account
          %li{style:  "width: 33%;", class: ("active" if @setup_step == 2)}
            %a{data_toggle: "tab", href: "#website"} Step 2: Website
          %li{style: "width: 34%;", class: ("active" if @setup_step == 3)}
            %a{data_toggle: "tab", href: "#install-code"} Step 3: Widget
        .tab-content
          = f.hidden_field :setup_step, value: @setup_step

          - if @setup_step == 1
            #agent.tab-pane{class: ("active" if @setup_step == 1)}

              = render "layouts/error_messages", f: @agent

              .row
                .col-sm-12
                  .alert.alert-info
                    Thank you for choosing Provide Chat for your online chat solution. This quick setup
                    wizard will help you get started with your new account.
                    %strong This shouldn't take longer than a couple minutes.

                  %h4.info-text Let's start with your account details
                - if @agent.has_no_password?
                  .col-sm-4.col-sm-offset-1
                    .form-group
                      %label Enter Your password
                      = f.password_field :password, class: "form-control", placeholder: "Your password"
                  .col-sm-4.col-sm-offset-1
                    .form-group
                      %label Confirm Your password
                      = f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password"

                .col-sm-4.col-sm-offset-1
                  .form-group
                    %label Your Name
                    = f.text_field :name, class: "form-control", placeholder: "Your name"
                .col-sm-5
                  .form-group

          - if @setup_step == 2
            #website.tab-pane{class: ("active" if @setup_step == 2)}
              %h4.info-text What website will you be installing Provide Chat on?
              .row
                .col-sm-8.col-sm-offset-2
                  .form-group
                    %label Web Address (URL)
                    .input-group
                      %span.input-group-addon https://
                      = f.text_field :website_url, :class => "form-control", value: (@website.url unless @website.nil?)

          - if @setup_step == 3
            #install-code.tab-pane{class: ("active" if @setup_step == 3)}
              %h4.info-text Install the Provide Chat Widget
              .row
                .col-sm-10.col-sm-offset-1
                  .alert.alert-info
                    To install the Provide Chat Widget, paste this code (unaltered, in it’s entirety) on every page of your website just before the closing &lt;/body&gt; tag.

              .code-container
                .row
                  .col-md-12
                    .pull-right
                      %a{href: "#", id: "select-code"}> (select all)

                    %textarea#widget-code.codetext= render partial: "home/widget_include_code", locals: { organization_id: current_agent.organization_id }

          .wizard-footer
            .pull-right
              - if @setup_step <= 2
                = f.submit "Next", class: "btn btn-next btn-fill btn-success btn-wd btn-sm", name: "next", value: "Next"
              - if @setup_step == 3
                = f.submit "Finish", class: "btn btn-finish btn-fill btn-success btn-wd btn-sm", name: "finish", value: "Finish"
            - if @setup_step >= 2
              .pull-left
                = f.button "Previous", name: "previous_step", class: "btn btn-previous btn-fill btn-default btn-wd btn-sm", value: (@setup_step -1)
            .clearfix

:javascript

  $(document).ready(function() {
    /*
    $('#wizard').bootstrapWizard({
      'tabClass': 'nav nav-pills',
      'nextSelector': '.btn-next',
      'previousSelector': '.btn-previous',
       
       onInit : function(tab, navigation, index){
          
         //check number of tabs and fill the entire row
         var $total = navigation.find('li').length;
         $width = 100/$total;
         
         $display_width = $(document).width();
         
         if($display_width < 600 && $total > 3){
           $width = 50;
         }
         
         navigation.find('li').css('width',$width + '%');
         return true;
      },
      onNext: function(tab, navigation, index){
        return true;
      },
      onTabShow: function(tab, navigation, index) {
          var $total = navigation.find('li').length;
          var $current = index+1;
          
          var wizard = navigation.closest('#wizard');
          
          // If it's the last tab then hide the last button and show the finish instead
          if($current >= $total) {
              $(wizard).find('.btn-next').hide();
              $(wizard).find('.btn-finish').show();
          } else {
              $(wizard).find('.btn-next').show();
              $(wizard).find('.btn-finish').hide();
              $(wizard).enable();
          }
      }      
    });
    */
    $("#after-signup-form").validate({
    	rules: {
    		"agent[password]": "required",
    		"agent[password_confirmation]": "required",
        "agent[name]": "required"
      },
      messages: {
        "agent[password]": "Please enter your password",
        "agent[password_confirmation]": "Please confirm your password",
        "agent[name]": "Please enter your name"
      },
      highlight: function (element) {
        $(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function (element) {
        $(element).closest('.form-group').addClass('has-success');
      },
      errorElement: 'label',
      errorClass: 'control-label',
      errorPlacement: function (error, element) {
        error.insertAfter(element);
      }
    });
  });


