<nav>
	<ul>
		<li class="<%= "active" if current_page?(dashboard_path) || current_page?(root_path) %>">
      <%= link_to dashboard_path, { title: "Dashboard" } do %>
        <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span>
      <% end %>
		</li>
		<li class="<%= "active" if current_page?(monitor_path) %>">
      <%= link_to monitor_path, { title: "Chat Monitor" } do %>
        <i class="fa fa-lg fa-fw fa-comments"></i> <span class="menu-item-parent">Chat Monitor</span>
      <% end %>
		</li>
		<li class="<%= "active" if controller?('agents') %>">
      <%= link_to agents_path, { title: "Agents" } do %>
        <i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Agents</span>
      <% end %>
		</li>
		<li class="<%= "active" if controller?('departments') %>">
      <%= link_to departments_path, { title: "Departments" } do %>
        <i class="fa fa-lg fa-fw fa-sitemap"></i> <span class="menu-item-parent">Departments</span>
      <% end %>
		</li>
		<li class="<%= "active" if controller?('chats') %>">
      <%= link_to chats_path, { title: "Chat Transcripts" } do %>
        <i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent">Chat Transcripts</span>
      <% end %>
		</li>
		<li>
			<a href="#"><i class="fa fa-lg fa-fw fa-toggle-up"></i> <span class="menu-item-parent">Chat Widget</span></a>
			<ul>
				<li class="<%= "active" if controller?('chat_widgets') %>">
          <%= link_to "Customization", chat_widgets_path, { title: "Customization" } %>
				</li>
        <li class="<%= "active" if controller?('invitations') %>">
          <%= link_to "Invitations", invitations_path, { title: "Invitations" } %>
				</li>
				<li class="<%= "active" if controller?('prechat_forms') %>">
          <%= link_to "Pre-chat Survey", prechat_forms_path, { title: "Pre-chat Survey" } %>
				</li>
				<li class="<%= "active" if controller?('offline_forms') %>">
          <%= link_to "Offline Message", offline_forms_path, { title: "Offline Message" } %>
				</li>
				<li class="<%= "active" if current_page?(code_path) %>">
          <%= link_to "Website Code", code_path, { title: "Website Code" } %>
				</li>
			</ul>
		</li>

		<li>
			<a href="#"><i class="fa fa-lg fa-fw fa-cog "></i> <span class="menu-item-parent">Settings</span></a>
			<ul>
				<li class="<%= "active" if controller?('organizations') %>">
          <%= link_to "General Settings", edit_organization_path(current_agent.organization_id), { title: "General Settings" } %>
				</li>
        <li class="<%= "active" if controller?('websites') %>">
          <%= link_to "Websites", websites_path, { title: "Websites" } %>
        </li>
        <% if false %>
  				<li class="<%= "active" if controller?('rapid_responses') %>">
            <%= link_to "Rapid Responses", rapid_responses_path, { title: "Rapid Responses" } %>
  				</li>
        <% end %>
			</ul>
		</li>
		<li>
			<a href="#"><i class="fa fa-lg fa-fw fa-info-circle"></i> <span class="menu-item-parent">Documentation</span></a>
      <ul>
        <li class="<%= "active" if current_page?(doc_start_path) %>">
          <%= link_to "Getting Started", doc_start_path, { title: "Getting Started" } %>
        </li>
        <li class="<%= "active" if current_page?(doc_websites_path) %>">
          <%= link_to "Multiple Websites", doc_websites_path, { title: "Multiple Websites" } %>
        </li>
        <li class="<%= "active" if current_page?(doc_monitor_path) %>">
          <%= link_to "Using Chat Monitor", doc_monitor_path, { title: "Using Chat Monitor" } %>
        </li>
      </ul>
    </li>
		<li class="<%= "active" if current_page?(contact_path) %>">
      <%= link_to contact_path, { title: "Contact Support" } do %>
        <i class="fa fa-lg fa-fw fa-smile-o"></i> <span class="menu-item-parent">Contact Support</span>
      <% end %>
		</li>    
	</ul>
</nav>
<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
