!!! 5
%html{lang: "en"}
  %head
    %title Provide Chat App
    
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'}
    %meta{name: "description", content: "Provide Chat Application"}
    %meta{name: "author", content: "Provide Chat software"}

    %link{href: "/favicon.ico", rel: "shortcut icon"}

    = stylesheet_link_tag    "application", media: "screen"
    = stylesheet_link_tag "gsdk-base"

    = csrf_meta_tags

    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700", rel: "stylesheet"}

    :css
      html { height: 100%; }
      body { background: none #3375b1; padding-bottom: 30px; }

  %body{class: "animated fadeInDown"}
    .container#main
      .row
        .col-lg-6.col-lg-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
          = yield

    .remodal{"data-remodal-id" => "terms-modal", style: "max-height: 100%; overflow-y: auto;"}
      %button.remodal-close{"data-remodal-action" => "close"}
      %h1 Free Installation Terms of Service

      %h3
        SUPPORT DISCLAIMER
      %p
        Support is information or advice provided by Provide Chat through email or telephone. 
        This can also include any software or any data file(s) installed or removed from 
        specified computer servers by providechat.com at the customers request.

      %h3
        DISCLAIMER OF WARRANTY
      %p
        Support whether by email, telephone or through software installation is provided "as is" 
        without warranty of any kind. While we are knowledgeable and skilled professionals, we cannot 
        offer any guarantee as to the consequences of the Support provided. Should the Support cause 
        damage or loss of any kind, Provide Chat shall not be held liable to you or any other 
        person for indirect, special, punitive, incidental, or consequential damages of any 
        character including damages for loss of goodwill, work stoppage, computer failure or 
        malfunction, or any and all commercial damages or losses.

      %hr

      %button.remodal-confirm{"data-remodal-action" => "confirm"} Okay


    = javascript_include_tag 'application'

    = yield(:scripts).present? ? yield(:scripts) : render(partial: 'layouts/scripts')
