!!! 5
%html{lang: "en"}
  %head
    %title Provide Chat App
    
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'}
    %meta{name: "description", content: "Provide Chat Application"}
    %meta{name: "author", content: "Provide Chat software"}

    %link{href: "/favicon.ico", rel: "shortcut icon"}

    = stylesheet_link_tag    "application", media: "screen"
    = stylesheet_link_tag "gsdk-base"

    = csrf_meta_tags

    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700", rel: "stylesheet"}

    :css
      html { height: 100%; }
      body { background: none #3375b1; padding-bottom: 30px; }

  %body{class: "animated fadeInDown"}
    .container
      .row
        .col-lg-6.col-lg-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
          = yield

    = javascript_include_tag 'application'

    = yield(:scripts).present? ? yield(:scripts) : render(partial: 'layouts/scripts')
