<!DOCTYPE html>
<html>
<head>
  <title>Providechat App</title>
  
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<aside id="left-panel">

		<!-- HEADER -->
		<div class="logo-header">
			<div id="logo-group">
				<span id="logo"><%= image_tag "logo.png" %> </span>
      </div>
    </div>

		<!-- User info -->
		<div class="login-info">
			<span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
		
				<a href="javascript:void(0);" id="show-shortcut">
          <%= image_tag "avatars/male.png" %>

					<span>
						<%= current_agent.name %>
					</span>
					<i class="fa fa-angle-down"></i>
				</a> 
				
			</span>
		</div>
		<!-- end user info -->

    <%= render "layouts/left_nav" %>
    
	</aside>
	<!-- END NAVIGATION -->

	<!-- MAIN PANEL -->
	<div id="main" role="main">        

    <%= yield %>

	</div>

	<script type="text/javascript">
	
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	
	$(document).ready(function() {
		
		pageSetUp();
  });
  
  </script>
    
</body>
</html>
