!!! 5
%html{lang: "en"}
  %head
    %title Providechat App

    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'}
    %meta{name: "description", content: "Provide Chat Application"}
    %meta{name: "author", content: "Provide Chat software"}

    = favicon_link_tag 'favicon.ico'

    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "smartadmin-production-plugins"
    = stylesheet_link_tag "smartadmin-production"
    = stylesheet_link_tag    "application", media: "all", 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'https://js.stripe.com/v2/'
    :javascript
      $(function(){
        Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');
      });
    = csrf_meta_tags

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{:type => "text/javascript", :src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:type => "text/javascript", :src => "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}

      <!-- GOOGLE FONT -->
      %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700", rel: "stylesheet"}
  %body

    = render 'layouts/header'

    %aside#left-panel
      .login-info
        %span
          = link_to edit_agent_path(current_agent) do
            = image_tag current_agent.avatar.url, :style => "height: 25px; width: 25px;"
            %span
              = current_agent.name
          .btn-group.pull-right

      = render "layouts/left_nav"

    #main{:role => "main"}
      #content
        = yield

    = javascript_include_tag 'smartadmin.config'
    = javascript_include_tag 'jarvis.widget'
    = javascript_include_tag 'smart-notification'
    = javascript_include_tag 'select2'
    = javascript_include_tag 'smartadmin'

    :javascript
      function initialize_nprogress() {
        NProgress.configure({
          showSpinner: false,
          ease: 'ease',
          speed: 500
        });
      }

      $(document).ready(function() {
        pageSetUp();
        initialize_nprogress();
      });

      $(window).bind('page:change', function() {
        pageSetUp();
        initialize_nprogress();
      });
